[2020-09-22 16:22] garg3133 opened #2 "Fix Jagrati Tagline"
On Jagrati landing page, "an initiative by iiitians" should be replaced with "an initiative of IIITians".

[2020-09-22 16:31] garg3133 opened #3 "Automate Copyright year updation according to current year"
Find all the places where Copyright message is written and automate Copyright year updation by replacing year written manually with `{% now 'Y'%}` template tag.

Also, do share screenshot in the PR showing that it is working properly.

[2020-09-24 20:10] Novaenn commented on #2
Shouldn't this issue be closed?

[2020-09-25 03:46] garg3133 commented on #2
And why is that? This issue has not been fixed yet.

[2020-09-25 04:00] ion05 commented on #3
Can i work on this ?

[2020-09-25 04:07] garg3133 commented on #3
@ion05 Yeah sure, go ahead!

[2020-09-27 14:02] garg3133 opened #5 "Improve text in Donation section on landing page"
Donation section on landing page currently contains `lorem ipsum` text. Write something else in place of that.

[2020-09-27 18:48] ankitsridhar16 commented on #5
I would like to fix it

[2020-09-27 19:30] adenashameem commented on #2
Please let me know if this issue hasn't been fixed yet.

[2020-09-27 19:32] adenashameem commented on #5
I can take this up.

[2020-09-28 09:55] garg3133 commented on #2
@adenashameem Yes, this issue is still open. You can take it up.

[2020-09-28 09:57] garg3133 commented on #5
@ankitsridhar16 Sure, you can work on this issue.

@adenashameem You can work on #2 for now. I'll be soon opening more such issues.

[2020-09-28 10:01] Yashs911 commented on #2
@garg3133 If no PR is created till 1st Oct then can I create a PR? I am new to open source and have registered in Hacktoberfest.

[2020-09-28 10:16] garg3133 commented on #2
Yeah sure, just ask here if someone else is working on the issue (they maybe on the stage of setting up the project). If no one is, you can surely open a PR :)

Also, as you said you are new to Open Source, you may also check out [first-bit](https://github.com/BitByte-TPC/first-bit) where you can practice the complete Git-GitHub workflow before Hacktoberfest and also get featured on the first-bit

[2020-09-28 10:23] adenashameem commented on #2
I've opened a PR.

[2020-09-28 10:32] garg3133 commented on #2
Issue resolved by merging #6. Closing this issue.

[2020-09-28 10:32] #2 closed

[2020-09-28 11:20] ChiragSharma1 commented on #3
@ion05  are you still working on it ?

[2020-09-29 13:11] ChiragSharma1 commented on #3
@garg3133 , He isn't replying so can i start working on it Or should wait for his reply.

[2020-09-29 13:13] ChiragSharma1 commented on #3
@garg3133 , he isn't replying ,so can i start working on it Or have to wait for his reply?

[2020-09-29 13:15] garg3133 commented on #3
Yeah sure, you can take this up.

[2020-09-30 02:18] #3 closed

[2020-10-01 07:33] sakshi006 commented on #5
Hey!
i would like to work on this issue.

[2020-10-01 07:34] Mahikta commented on #5
Can I work on the same as well?

[2020-10-01 14:24] garg3133 commented on #5
@sakshi006 You can work on this.

[2020-10-01 22:17] rohan8660 commented on #5
Can I work on this ?

[2020-10-02 05:35] garg3133 commented on #5
@sakshi006 @Mahikta Anyone of you interested in working on this issue? If yes, you can claim this issue by commenting here and start working on it.

@rohan8660 Just wait for around 6 hours. If no one of them claims this issue by that time, you can claim this issue and start working on it.

[2020-10-02 08:08] rohan8660 commented on #5
@garg3133 OKAY

[2020-10-02 12:55] rohan8660 commented on #5
@garg3133  It has been seven hours since, I will start working on it now.

[2020-10-02 13:10] rohan8660 commented on #5
How many words should I fill in Donation Section?

[2020-10-02 13:17] rohan8660 commented on #5
Please check the new PR #8, and suggest changes if any.

[2020-10-02 14:50] ChiragSharma1 opened #9 "glide bullets should be below those floting image"
![Screenshot (5)](https://user-images.githubusercontent.com/63919014/94936923-8c71e700-04ec-11eb-933c-c121f8492bbb.png)

[2020-10-02 14:51] ChiragSharma1 commented on #9
@garg3133  can i start working on it?

[2020-10-02 15:05] garg3133 commented on #9
Yeah, sure :)

[2020-10-03 12:02] hambali999 commented on #5
Hi! Can i work on this? This is my first time pulling a request

[2020-10-03 12:02] hambali999 commented on #5
assign to me

[2020-10-04 06:01] tmo66 opened #12 "Update UI"
Current UI looks old.

- [ ] Update Navigation Bar

- [ ] Update Show-Case

- [ ] Update About Us

- [ ] Update Initiatives

[2020-10-04 06:02] tmo66 commented on #12
I want to work on this, can I?

[2020-10-04 06:14] garg3133 commented on #12
Yeah @tmo66, sure!!

[2020-10-04 13:24] garg3133 opened #14 "Fetch initiatives from database on landing page"
Instead of putting the content of different initiatives in HTML file, we should instead fetch the initiatives from the database.

For doing this, create a new model in `misc` app with name `Initiative` and the following fields:
- `title` (Initiative title)
- `description` (Initiative Description)
- `thumbnail` (Initiative Thumbnail)

After creating the model, register the model in `admin.py` so th

[2020-10-04 13:25] dennis-pg commented on #14
Would like to work on this

[2020-10-04 13:37] garg3133 commented on #14
Sure @dennis-pg, you can move ahead.

[2020-10-04 17:20] AshishMhrzn10 commented on #14
want to work in it .please assign.

[2020-10-05 04:12] rachitmanas commented on #14
Can I work on this issue?

[2020-10-05 06:00] garg3133 commented on #14
@dennis-pg You are working on this, right?

[2020-10-05 11:16] garg3133 commented on #14
Ok then, as @dennis-pg is not responding, @rachitmanas you can take up this issue.

[2020-10-06 03:40] #9 closed

[2020-10-17 04:13] ChiragSharma1 opened #16 "Misprinting"
i think ',' should be there instead of ';'
![Screenshot (14)](https://user-images.githubusercontent.com/63919014/96328101-18dbe800-105d-11eb-80ae-fad57194da5c.png)

[2020-10-17 04:13] ChiragSharma1 commented on #16
can i correct that ?

[2020-10-19 05:36] ChiragSharma1 commented on #14
Can i work on this?

[2020-10-19 05:38] garg3133 commented on #14
Yes, sure! Go ahead.

Ping me if you are stuck anywhere.

[2020-10-24 17:55] shivarajloni commented on #16
can i contribute.. as i am first-time

thank you!

[2020-10-25 15:27] garg3133 commented on #16
@ChiragSharma1 I don't think there's any mistake there. It's meant to be in that way only.

Closing this issue.

[2020-10-25 15:27] #16 closed

[2020-10-30 02:04] ChiragSharma1 commented on #14
@garg3133  if i make models in models.py file of home app ,i think that will work much better as index.html is called via home app,
is this what i am thinking is correct?

[2020-10-30 04:40] garg3133 commented on #14
Yeah, I agree, it will be much easier that way but I wish to keep the home app clean and only for important stuff related to classes. Having unrelated models in home app can make it cluttered.

[2020-10-30 05:24] ChiragSharma1 commented on #14
@garg3133  Ok fine , i will be doing there only,
Than I think we also have to create urls.py in misc app ,
is this correct or not ?

[2020-10-30 05:30] garg3133 commented on #14
No, creating urls.py in misc app is not required for now.

[2020-10-30 08:41] ChiragSharma1 commented on #14
Than from where we have to call the view which  is we have to make in views.py in misc app

[2020-12-04 09:52] garg3133 commented on #14
@ChiragSharma1 What is the status of your work?

[2020-12-04 09:53] garg3133 commented on #5
Resolved in #19.

[2020-12-04 09:53] #5 closed

[2020-12-04 11:23] garg3133 opened #20 "Fetch date from Django instead of using Javascript date"
**Details on the issue:**
Use dates fetched from Django on `Dashboard`, `Student Attendance` and `Volunteer Attendance` pages. Currently, these pages display dates fetched from JavaScript which in turn uses system date which is a huge security flaw in the application as on changing the system date, the date conceived by app as `today` may be changed. Whereas on fetching date from Django, it will u

[2020-12-04 11:32] garg3133 opened #21 "Fix typo: Attendence --> Attendance"
**Details on the issue:**
There's a typo in the complete application where `attendence` is being used instead of `attendance`. We need to fix that for the complete application.

**Places where it is to be fixed:**
- [x] README.md (beginner-friendly) [Done by @Godzilla5111]
- [x] Comments all over the application (beginner-friendly) [Done by @96RadhikaJadhav]
- [x] URLs and corresponding function n

[2020-12-04 15:56] Godzilla5111 commented on #21
@garg3133 please assign this to me, I wish to contribute!

[2020-12-04 16:00] garg3133 commented on #21
Sure @Godzilla5111, assigning you the README.md part.

[2020-12-04 16:01] Godzilla5111 commented on #21
Thanks @garg3133 , will fix it as the coding period begins😊. Thanks!

[2020-12-04 16:33] 96RadhikaJadhav commented on #21
@garg3133 Could you please assign this issue to me?

[2020-12-04 17:50] garg3133 opened #22 ""Integrity Error" on entering already existing roll number"
**Details on the issue:**
While completing the profile after a fresh registration on the application, if the roll no. entered in the `Roll No.` field already exists in the database, it displays a yellow screen showing "Integrity Error". Instead, a check must be coded in the application while completing the profile to check if the roll no. entered by the user already exists in the database. If it d

[2020-12-04 18:11] garg3133 commented on #21
@96RadhikaJadhav Sure! On which part you wish to work?

[2020-12-04 18:34] garg3133 opened #23 "Enhance Donations Modal on Home Page"
**Details on the issue:**
On clicking the "Donate" button on the top navigation bar, a modal/pop-up appears which has a very basic design and does not look good. It would be better if the design of the modal could be improved (using colours as per the theme of the site).

Below is the screenshot of the modal.

![image](https://user-images.githubusercontent.com/39924567/101200859-e0d04900-368c-11eb

[2020-12-05 02:34] 96RadhikaJadhav commented on #21
I would like to work on Comments all over the application.

[2020-12-05 06:33] garg3133 commented on #21
@96RadhikaJadhav Assigned you the comments part.

[2020-12-05 07:49] 96RadhikaJadhav commented on #21
@garg3133  I have created a PR. Please review and let me know if any changes required :) . Once this is done, I would like to take up next issue, which is URLs and corresponding function names in views.

[2020-12-05 08:02] garg3133 commented on #21
You can go ahead with the next issue, @96RadhikaJadhav.

[2020-12-05 08:08] 96RadhikaJadhav commented on #21
@garg3133  Should I create another PR or should commit in the existing one?

[2020-12-05 08:28] garg3133 commented on #21
@96RadhikaJadhav You should create an another PR. Remember to pull the changes first.

[2020-12-05 09:51] 96RadhikaJadhav commented on #21
@garg3133 Got stuck and seeking help. When I created a new branch to create another PR, I could see the files are not reflecting the changes which I did previously while creating PR  which is merged now. When I'm switching to the previous branch where changes are done, it's reflecting the changes in files. So I didn't get when to run this command-> git pull origin master. Whether to switch on prev

[2020-12-05 10:14] garg3133 commented on #21
Yes, the changes you made in the previous branch won't reflect in your new branch, that's the whole concept of branches, right?

You need to create a new branch and the run `git pull upstream master` (not `origin master` as origin points to your forked repository while upstream refers to the original repository). Make sure you've set the `upstream` to point to the original repository first by runn

[2020-12-05 11:43] 96RadhikaJadhav commented on #21
@garg3133  Thank you so much for the explanation. I have created a PR. Please review and let me know if any changes required.

[2020-12-05 12:31] 96RadhikaJadhav commented on #21
@garg3133  Done requested changes. Could you please review and let me know if any other changes required?

[2020-12-05 17:26] Aarti002 commented on #23
hello sir i'm from 2nd year iiitdmj can i work on this issue?

[2020-12-05 17:36] garg3133 commented on #23
Sure @Aarti002, go ahead! Assigning you the issue.

[2020-12-05 18:35] garg3133 opened #26 "Disable Continue button on Dashboard until AJAX is fully loaded"
On changing the `Date` on the main dashboard (after logging in), `Section` is fetched from the database for that particular date using AJAX. But sometimes, AJAX can get slow which can lead to delay in the fetching of `Section` on changing the `Date`. If the user clicks the `Continue` button at this time, wrong combination of `Date` and `Section` is sent back to the backend.

To avoid this, we shou

[2020-12-05 19:39] isha27255 commented on #12
Can I work on this ?

[2020-12-06 08:29] garg3133 commented on #12
@tmo66 has a better idea of this issue. Tushar, can you please help her with the issue?

[2020-12-06 08:40] tmo66 commented on #12
Yeah Sure. @isha27255 Join the [Discord Server](https://discord.gg/Thu4xHRs), I will explain to you there about the new theme!

[2020-12-07 07:12] garg3133 opened #28 "New Page: List of all Volunteers"
We need a new page to be displayed at `/volunteers/` to list all the volunteers currently a part of the initiative, in the form of clickable cards which will take us to the volunteer profile upon click.

Working on this issue will require knowledge of HTML, CSS + Bootstrap4 and a basic knowledge of Django.

For any further doubts and queries, feel free to join the community and ask there: https://

[2020-12-07 07:48] jkrlr commented on #28
I want to work on that, can I?

[2020-12-07 07:50] garg3133 commented on #28
Sure @jkrlr, go ahead!
Assigning you the issue.

[2020-12-07 07:51] jkrlr commented on #28
Thank you @garg3133 !!!

[2020-12-07 11:45] InfiniteVerma commented on #20
I'll like to work on this.

[2020-12-07 12:32] garg3133 commented on #20
Sure @InfiniteVerma, go ahead!
Assigning you the issue.

[2020-12-08 07:44] GunjanDhanuka commented on #21
I can fix the typo in the Django app part. Please assign it to me!

[2020-12-08 07:48] GunjanDhanuka commented on #22
I am learning Django from just before kwoc started and I think fixing this issue will help me learn further. Please assign this to me and it would be very kind of you if you could point me to any resources I might need. Thanks!

[2020-12-08 07:54] garg3133 commented on #21
Assigned it to you @GunjanDhanuka!

[2020-12-08 10:08] garg3133 commented on #22
Sure @GunjanDhanuka, you can work on this. Assigning it to you.

For solving this particular issue, you just need to add a check in `complete_profile` view just like I've already added in `update_profile` view. It's just some python code you need to write, you'll understand it while working on it.

Assigning it to you! Feel free to ask here if you're stuck somewhere.

[2020-12-08 13:59] garg3133 commented on #21
Resolved!!

[2020-12-08 13:59] #21 closed

[2020-12-13 18:24] prakhar1144 commented on #28
Hey @jkrlr  are you working on this issue ? If  not please let me know.

[2020-12-14 04:10] tejaswari7 commented on #26
Hi can I work on this issue?
I m a beginner to opensource

[2020-12-14 07:44] garg3133 commented on #26
Yes sure @tejaswari7, you can work on this.
Assigning you the issue!

[2020-12-14 09:28] roli25 commented on #12
can I work on this?

[2020-12-15 06:11] jkrlr commented on #28
hey @prakhar1144 I am working on it.

[2020-12-15 11:40] tmo66 commented on #12
Yeah Sure!!

[2020-12-16 05:13] MayankGeek commented on #12
Can I work on this?

[2020-12-17 16:50] garg3133 commented on #23
@Aarti002 Any progress?

[2020-12-18 11:05] garg3133 opened #32 "New Page: List of all Students"
We need a new page to be displayed at `/students/` to list all the students currently a part of the initiative, in the form of clickable cards which will take us to the student profile upon click.

To Do:
- [ ] Create an empty HTML page displayed at `/students/` endpoint.
- [ ] Fetch student data from database and display in form of cards.
- [ ] Add filter to filter the students section-wise.

Wor

[2020-12-18 11:08] garg3133 commented on #32
@prakhar1144 You can work on this issue if you like to!

[2020-12-18 11:14] prakhar1144 commented on #32
@garg3133  Sure, please assign it to me.

[2020-12-19 17:04] garg3133 commented on #26
Resolved in #33.

[2020-12-19 17:04] #26 closed

[2020-12-25 07:36] Isha77agarwal commented on #23
I want to work on this issue, I have a good knowledge of CSS and HTML.

[2020-12-25 07:36] 07yuvraj commented on #32
hey @garg3133 i want to work on this.May i?

[2020-12-25 07:37] Isha77agarwal commented on #12
I want to work on its UI

[2020-12-25 07:38] 07yuvraj commented on #12
i also want on this issue

[2020-12-26 08:40] garg3133 commented on #23
Yes @Isha77agarwal, you can work on this issue.

[2020-12-26 08:42] garg3133 commented on #32
Sure @07yuvraj, you can work on this issue if @prakhar1144 is not.

@prakhar1144 Can you please respond if you are working on this or not?

[2020-12-26 14:58] 07yuvraj commented on #32
@garg3133 so may i start working on it or wait for him?

[2020-12-26 15:14] prakhar1144 commented on #32
@07yuvraj you can work on it.

[2020-12-26 15:22] Isha77agarwal commented on #23
@garg3133 I am having some issues with migration, Can you help?

[2020-12-26 15:39] garg3133 commented on #23
Yeah sure, what issues are you facing?

[2020-12-26 15:43] Isha77agarwal commented on #23
File "C:\Users\isha7\AppData\Local\Programs\Python\Python37\lib\site-packages\decouple.py", line 68, in get
    raise UndefinedValueError('{} not found. Declare it as envvar or define a default value.'.format(option))
decouple.UndefinedValueError: EMAIL_HOST_USER not found. Declare it as envvar or define a default value.

![image](https://user-images.githubusercontent.com/50719265/103154704-2af5a7

[2020-12-26 15:45] garg3133 commented on #23
Have you created `.env` file in `JagratiWebApp` directory as mentioned in README?

Also, for windows, don't use `source` while activating the environment.

[2020-12-26 15:47] Isha77agarwal commented on #23
Yes, I created that file.
I tried without source, it is also not working

[2020-12-26 16:00] garg3133 commented on #23
Try moving the `.env` file to `JagratiWebApp/Jagrati/settings`.

[2020-12-26 16:05] garg3133 commented on #23
Also, can you please share the screenshot of your `.env` file?

[2020-12-26 16:21] 07yuvraj commented on #32
![Screenshot (85)](https://user-images.githubusercontent.com/55285282/103155299-7068a380-47c4-11eb-8298-879e3f193c49.png)
i am getting this error

[2020-12-26 16:49] garg3133 commented on #32
Did you run `pip install -r requirements.txt`.

[2020-12-26 20:33] garg3133 opened #34 "Resend Activation Mail"
Whenever a new user signs up, we send an activation link to his/her email address order to verify the same. But sometimes it may happen that the user may forget to verify his/her email address and the activation link may get expired. If this happens, the user will be permanently locked out of the app and won't be able to register again with the same email unless he/she contacts the admin.

So, the

[2020-12-27 09:08] 07yuvraj commented on #32
yeah i have done that but on installing pillow there were some errors

[2020-12-27 09:28] garg3133 commented on #32
Then I think other requirements are also not installed properly. Try googling the error you are getting while installing pillow.

[2020-12-28 07:04] InfiniteVerma commented on #34
I'll like to work on this.

[2020-12-28 08:57] garg3133 commented on #20
Resoled in #31.

[2020-12-28 08:57] #20 closed

[2020-12-28 08:58] garg3133 commented on #34
Sure @InfiniteVerma, assigning you the issue!

[2020-12-28 09:05] garg3133 commented on #12
This issue doesn't provide much context on what to do. Closing it for now.

@tmo66 You may open separate issues for UI update with well-defined tasks.

[2020-12-28 09:06] #12 closed

[2020-12-28 15:09] harikishantk commented on #23
I would like to contribute to this issue, May I? I'm SWOC 2021 participant, is this issue comes under SWOC? If so, kindly label this issue under SWOC.

[2020-12-28 17:57] garg3133 commented on #23
Yeah sure @harikishantk, you can contribute to this. I'll add the label before the coding period starts.

[2020-12-29 15:35] Abhir-24 commented on #23
Can I work on this issue under SWOC ?

[2020-12-29 18:18] garg3133 commented on #22
@GunjanDhanuka Are you working on this issue?

[2020-12-29 18:22] garg3133 opened #35 "Add gender field in Student model"
Add a `gender` field in `Student` model of students app. You may refer to the `Profile` model present in the accounts app.

Working on this issue requires **basic** knowledge of Django.

For any further doubts and queries, feel free to join the community and ask there: https://discord.gg/Ek9q45ZjAv

[2020-12-29 18:43] garg3133 opened #36 "Add DP for students"
Add a `display_picture` in `Student` model. Also, you need to use `imagekit` to compress the image before storing it.

You may refer to the implementation of profile picture for user profile in `Profile` model of accounts app.

Working on this issue requires **intermediate** knowledge of Django.

For any further doubts and queries, feel free to join the community and ask there: https://discord.gg/

[2020-12-29 18:50] garg3133 commented on #23
@Abhir-24 For SWOC, @harikishantk asked first so I'll assign the issue to him when SWOC starts. You may look at other issues if any of them interests you.

[2020-12-29 19:57] akrish4 opened #37 "CODE OF CONDUCT and CONTRIBUTION file"
Hi @garg3133
This is a great intiative
I would like to contribute to this project , I found that there is no code_of_conduct file and you know code of conduct is an important file which all the contributors need to follow so I would like to work on this issue , I can make a new file of code of conduct and a contribution file and can copy the contribution guidelines given in README file and can imp

[2020-12-30 05:06] garg3133 commented on #37
Thank you @akrish4 for the suggestion. This sounds great!
Assigning this issue to you.

[2020-12-30 06:10] akrish4 commented on #37
Thank you @garg3133
Since this project is registered under SWOC , kinldy add the `SWOC2021` , `SWOC` and `medium`tags to issue

[2020-12-30 06:13] GunjanDhanuka commented on #22
Yes sir, I was working on the issue but couldn't devote enough time to it to properly solve it. Sorry for that!

[2020-12-31 06:22] tmo66 commented on #23
@Isha77agarwal as you are setting up this project in windows,
use `env\Scripts\activate`, instead of `env/Scripts/activate`.

[2021-01-01 14:51] garg3133 opened #38 "Replace `Change Password` with `Dashboard` on header"
Replace `Change Password` to `Dashboard` on the header. The header will be visible only after logging into the application.

[2021-01-01 17:51] Utkarsh-Agarwal-585 commented on #38
I'm ready to work on this...Can you please provide some extra info about where I'll get this file?

[2021-01-01 18:07] garg3133 commented on #38
You can find the `header.html` file in `templates/snippets` folder.

[2021-01-02 09:01] tmo66 opened #39 "Updating Home Page"
The current Home page looks dull, can I shift it to `/old` with new Index Page on `/` .

[2021-01-02 09:25] tmo66 commented on #14
Can I work on this? I will do this with issue #39

[2021-01-02 11:43] nayaldivya commented on #35
I want to work on this issue. Can you please assign me this.

[2021-01-02 16:00] deytulsi18 opened #40 "[Docs]: Add Issue Template, Pull Request template, Code Of Conduct"
Can I add Issue Template, Pull Request template, Code Of Conduct suitable for this project?

[2021-01-02 16:59] garg3133 commented on #35
Sure @nayaldivya!

[2021-01-02 17:03] garg3133 commented on #14
Sure thing @tmo66.

[2021-01-03 16:25] TrushaT commented on #36
I would like to work on this issue.Pls assign it to me

[2021-01-03 16:35] garg3133 commented on #40
Yes @deytulsi18, that'll be a good idea. Making code of conduct will be addressed in #37, you can work on other two files.

[2021-01-03 16:37] garg3133 commented on #36
Sure thing @TrushaT!

[2021-01-03 19:23] garg3133 opened #41 "Create a personal-info card on sidebar"
Convert the marked portion of the sidebar in the image below to a **clickable card** which upon click (anywhere on the card) will take the user to the profile page (`/volunteers/profile/<user_id>/`).
![image](https://user-images.githubusercontent.com/39924567/103486797-78f55580-4e26-11eb-9fce-c73b3088e0f8.png)

Also, the card should contain profile picture, name and designation of the user (show `

[2021-01-03 20:18] garg3133 opened #42 "Modify AJAX calls to use POST method"
Modify all AJAX calls in `volunteers` and `students` app to use POST method instead of GET.

Working on this issue requires intermediate knowledge of JavaScript.

For any further doubts and queries, feel free to join the community and ask there: https://discord.gg/Ek9q45ZjAv

[2021-01-04 11:00] harikishantk commented on #32
I have met the requirement which you have specified above, can I work on it? If yes, kindly assign me.

[2021-01-04 12:05] garg3133 commented on #32
Yes @harikishantk, you can work on this.

[2021-01-04 14:17] sakshikhachane commented on #41
@garg3133 I would like to work on this issue. Please assign me this issue.

[2021-01-04 14:38] garg3133 commented on #41
Great @sakshikhachane, assigning you the issue!

[2021-01-04 17:06] tabishnehal commented on #42
Hi @garg3133 ...I would like to work on it...can you assign it to me?

[2021-01-04 17:52] amanraihot commented on #22
I will be working on it

[2021-01-04 18:36] garg3133 commented on #42
Sure @tabishnehal, go ahead!

[2021-01-04 19:01] garg3133 commented on #22
@GunjanDhanuka If you are working on this issue, that's great! But if you're not, you can un-assign yourself so that someone else can take this.

[2021-01-04 19:18] garg3133 opened #43 "Replace `Back to Dashboard` to `Refresh Page`"
Replace `Back to Dashboard` link at the top-left of each page with `Refresh Page` on all the page it is appearing in.

Also, don't forget to include the "reload" icon before `Refresh Page`, just like on Dashboard.

Working on this issue requires basic knowledge of HTML.

For any further doubts and queries, feel free to join the community and ask there: https://discord.gg/Ek9q45ZjAv

[2021-01-04 19:29] N00Bmaster2810 commented on #43
Sir, can I work on this under SWOC

[2021-01-04 19:58] garg3133 commented on #43
Sure @N00Bmaster2810, you can work on this.

[2021-01-05 07:48] nporia commented on #28
i would like to work on it too.

[2021-01-05 08:17] garg3133 commented on #43
Resolved in #44.

[2021-01-05 08:17] #43 closed

[2021-01-05 11:38] N00Bmaster2810 commented on #34
Hi @garg3133 sir if this issue is still open, can I try working on this

[2021-01-05 11:46] tmo66 commented on #34
Sure @N00Bmaster2810, you can work on this issue if @InfiniteVerma  is not.

@InfiniteVerma Can you please respond if you are working on this or not?

[2021-01-05 11:49] tmo66 commented on #28
Hey, @jkrlr are you still working on this?

[2021-01-05 16:10] pritamp17 commented on #38
@garg3133 sir I would like to work on this issue,  could please assign this to me in incase nobody is working on this?

[2021-01-06 08:22] garg3133 opened #47 "New Page: Add a new student"
We need a new page to add new students in the `Student` model. The page will be displayed at `/students/new/` and will have all the fields as in the `Student` model.

You may refer to `complete_profile` page which appears after signing up into the application.

Working on this issue will require knowledge of HTML, CSS + Bootstrap4 and a basic knowledge of Django.

For any further doubts and querie

[2021-01-06 11:00] Aniket118 commented on #47
I would like to work on this issue.

[2021-01-06 12:01] garg3133 commented on #38
@Utkarsh-Agarwal-585 Are you working on this issue?

[2021-01-06 13:00] Utkarsh-Agarwal-585 commented on #38
Yes, I'm working

[2021-01-06 14:13] akrish4 commented on #37
@garg3133  I was the first person to open a issue regarding code of conduct and contributing , Let him work on issue template

[2021-01-06 14:38] amanraihot commented on #47
I am working on it

[2021-01-06 14:42] akrish4 commented on #37
I have worked on it and made the pr
#49 PR

[2021-01-06 16:06] Aniket118 commented on #47
Can you please put this under swoc lable ?

[2021-01-07 07:08] garg3133 commented on #37
Resolved in #49.

[2021-01-07 07:08] #37 closed

[2021-01-08 06:00] garg3133 commented on #47
Yes @Aniket118, sure!

[2021-01-08 15:33] sagarpandyansit commented on #22
I would like to work on this issue. Can you assign it to me? @garg3133

[2021-01-08 15:39] sammy8825 commented on #42
I would like to work on this issue @garg3133 can u assign it to me?

[2021-01-08 15:44] garg3133 commented on #22
Yeah, sure @sagarpandyansit! Go ahead!

[2021-01-08 15:45] garg3133 commented on #42
@tabishnehal Are you working on it?

[2021-01-08 15:51] tabishnehal commented on #42
@garg3133 ohk you may assign to @sammy8825 .. I have not done significant work due to busy schedule so yeah you can assign to @sammy8825

[2021-01-08 18:04] palak199 opened #52 "contact icon"
![image](https://user-images.githubusercontent.com/43077980/104048702-b46a9800-5209-11eb-8752-862f8aa0c5e1.png)
here the red contact us label opens on hover.
but a newbie can miss it out since only **con** appears. I think it can be replaced with a font awesome icon of phone.
I would like to do that if its needed.

[2021-01-08 18:34] garg3133 commented on #52
That would be great @palak199! You can work on this.
Assigning it to you :rocket:

[2021-01-08 20:49] N00Bmaster2810 commented on #47
Hey @garg3133 ,If this issue is unassigned could you please assign it to me?

[2021-01-09 05:58] palak199 opened #54 "A profile page for students"
Currently there isn't an option for students to view their profile.
- [x] I would like to add the student profile page. Please assign it to me.

[2021-01-09 06:14] garg3133 commented on #54
That's great @palak199, go ahead!
Assigning it to you.

[2021-01-09 06:16] garg3133 commented on #47
I think @Aniket118 is not working on this issue.
@N00Bmaster2810 You can take this issue. Assigning it to you!

[2021-01-09 06:23] N00Bmaster2810 commented on #47
Thanks @garg3133

[2021-01-09 10:05] palak199 commented on #54
I have added the page in issue #53   commits

[2021-01-09 11:44] garg3133 commented on #54
@palak199 Please keep work related to different issues in different PR. I missed this while reviewing your PR but you should never create a PR from `master` branch. Always create a new branch before starting to work on any issue.

**What you can do now?**
* Create a new branch from master (`git checkout -b branch-name`) for the contact-icon issue and then reset the commits for the Student Profile

[2021-01-09 15:15] akrish4 opened #56 "Intergrate Welcome Bot"
Hi @garg3133
I can make  a welcome and greeting bot which will welcome all users who opens a issue and pull request for the first time
using a config.yml file
Kindly do assign me

For reference, check out: https://github.com/apps/welcome

If you feel this is a great idea!
Please assign it to me.

[2021-01-09 16:18] garg3133 commented on #22
@sagarpandyansit If you have any confusion or face any problem, you may ask here directly. I do not check Slack regularly.

[2021-01-10 06:39] garg3133 commented on #56
That'll be great @akrish4!
Just see to it that the welcome message looks professional.

[2021-01-10 06:42] akrish4 commented on #56
Yes sure

[2021-01-11 05:41] nehaparmar99 commented on #42
Can I work on this issue @garg3133 ?

[2021-01-11 13:51] garg3133 commented on #42
Hey @nehaparmar99, I think @sammy8825 is currently working on this issue.

[2021-01-11 16:20] sagarpandyansit commented on #22
@garg3133, could you guide me to reproduce this issue as I am unable to reproduce it. The volunteer table itself rejects duplicacy in roll number. and no URL I could find to reproduce it.
https://drive.google.com/file/d/19k0ffnftawbDW8Ye_TYcJRqGfMYONbtN/view?usp=sharing

[2021-01-11 16:39] garg3133 commented on #22
No, you are approaching it wrongly. A new volunteer won't be added using Admin Portal but he/she is required to create an account in the application for that by going to `http://localhost:8000/accouonts/login`. After successful activation of the email account (by clicking on the link sent through email, is printed on the terminal instead during development), the user will be asked to complete his/

[2021-01-11 16:47] sagarpandyansit commented on #22
Got it. Thanks.

[2021-01-11 17:05] sagarpandyansit opened #57 "[TEST] Email field is not properly checking the regular expression for email"
**Details on the issue:**
While signing up for the volunteer or faculty, if you fill email-id randomly, it won't show any error.

**How to reproduce:**
Go to `localhost:8000/accounts/login/` link. Try to enter "admin@gma" and password. It won't show any error and try to send an activation link.

**How to solve it:**
Make a JavaScript function that can check the regular expression for email.

[2021-01-11 17:33] garg3133 commented on #57
Great job catching this issue @sagarpandyansit! I never noticed this.

[2021-01-11 17:57] sagarpandyansit opened #58 "[FEATURE] Strong password recommended"
**Details on the issue:**
While signing up for the volunteer or faculty, if you fill in anything except null as a password, it will be accepted. Password should be strong that contains at least 1 special character, at least 1 character should be in uppercase, at least 1 number should be there.

**How to reproduce:**
Go to `localhost:8000/accounts/login/` link. Try to enter 'a' as a password. It wo

[2021-01-11 18:22] raman08 commented on #57
I would like to work on this issue

[2021-01-11 18:28] sagarpandyansit commented on #58
I would like to work on this as well. Kindly assign it to me.

[2021-01-11 18:31] garg3133 commented on #57
Sure @raman08, go ahead! Also, before going into writing a JavaScript function, do check if this issue can be resolved from HTML only. You may refer to MDN docs.

[2021-01-11 18:33] garg3133 commented on #58
@sagarpandyansit Django itself has a pretty good strong password checking system in place. You should use that for resolving this issue.

[2021-01-11 18:34] sagarpandyansit commented on #58
Okay. I will check.

[2021-01-11 19:38] nayaldivya opened #60 "[TEST] Contact No. Field is not restricting user to input only 10 digit numbers."
**Details on Issue**: After signing up, while filling the details in Complete your Profile section, Contact no. field is not showing any error if user inputs a number greater than 10 in length, or if the first digit of the number is 0.

![IMG_20210112_010642](https://user-images.githubusercontent.com/73695161/104229614-8340d080-5472-11eb-8cf7-f648b50634fd.jpg)

[2021-01-11 19:38] nayaldivya commented on #60
I would love to work on this issue. Please assign this to me.

[2021-01-12 05:47] garg3133 commented on #60
Hey @nayaldivya, thanks for raising the issue. But I do remember that I imposed this check on the Contact No. but maybe I've not deployed on Heroku yet. This seems to work fine on the development environment.

[2021-01-12 06:02] nayaldivya commented on #60
Okay.

[2021-01-12 06:02] #60 closed

[2021-01-12 13:52] sammy8825 commented on #42
Yes, @garg3133 I'm working on it. please give me some more time

[2021-01-12 14:56] garg3133 commented on #42
Sure @sammy8825!

[2021-01-12 19:06] raman08 commented on #57
Okk sir

[2021-01-13 14:31] Vrindagupta6828 opened #62 "Add Social Media authentication"
We can add authentication by various social networking handles like gmail, facebook etc.

[2021-01-13 14:36] garg3133 commented on #62
Hey @Vrindagupta6828, thanks for raising this issue. I myself was thinking of adding this feature to the project for quite a long time.

[2021-01-13 14:37] Vrindagupta6828 commented on #62
@garg3133 Please assign me this and tell me that with which sites i have to do social authentication

[2021-01-13 14:41] garg3133 commented on #62
Sure @Vrindagupta6828!

You just need to add the social authentication with Google. See that an instance is created in the existing `User` model also (maybe with any randomly generated password) when the user signs up using Google auth.

Also, if an existing user wants to link his/her account with Google auth, he/she should be able to do so.

[2021-01-14 18:31] pawankm21 commented on #36
I would like to work on this issue, I have done this before in my dummy project.

[2021-01-14 19:03] garg3133 commented on #47
Resolved in #61.

[2021-01-14 19:03] #47 closed

[2021-01-14 19:04] garg3133 commented on #42
Resolved in #63.

[2021-01-14 19:04] #42 closed

[2021-01-14 19:05] garg3133 commented on #36
Hey @TrushaT, are you still working on this issue?

[2021-01-14 19:12] N00Bmaster2810 commented on #32
@garg3133 sir, if this issue is not resolved then please can you assign this to me?

[2021-01-14 19:16] garg3133 commented on #32
Hey @harikishantk, are you still working on this issue?

[2021-01-14 19:27] harikishantk commented on #32
Already I'm working on modal issue, I would like to work on this issue later, if there is urgency, you can assign someone as well. My apologies.

[2021-01-14 19:35] harikishantk commented on #32
Yep

[2021-01-15 02:14] TrushaT commented on #36
Yes. I will create a PR by tomorrow .

[2021-01-15 07:56] garg3133 commented on #35
Resolved in #51.

[2021-01-15 07:56] #35 closed

[2021-01-15 11:54] N00Bmaster2810 opened #65 "Setup permissions to access "Add new student" page"
Since we have a page to add students, it will be good to have a group called as a "student manager" which comprise of some students or volunteers who will have authentication rights to add a new student.

[2021-01-15 15:43] garg3133 commented on #65
Yeah, we'll have a `Group` named `Student Manager` and that group must be assigned the permission to add new students.

Only the users who have permission to add new students must be able to open "Add new student" page. (Everyone having "Student Manager" group will automatically have that permission.

[2021-01-19 10:07] Aiswarika opened #70 "Different pictures for initiative cards on home page"
The "Our Initiative" section on the home page has 9 cards having the same picture. I think it would look better if we replace them with different pictures for each card. I would like to work on this issue if needed.
![Screenshot (212)](https://user-images.githubusercontent.com/72227445/105019494-26de4200-5a6c-11eb-9f6f-ad969d80af63.png)

[2021-01-19 15:27] Vrindagupta6828 commented on #62
@garg3133 can you please tell me what is the authorized domain of this application?

[2021-01-19 15:49] garg3133 commented on #62
We're using https://jagrati.herokuapp.com for now.

[2021-01-20 14:23] garg3133 commented on #70
Thanks @Aiswarika for opening this issue. But, we are currently working on fetching all the contents of initiatives from the database itself in issue #14. So, making any changes in HTML now would just be a waste of effort.

Closing this issue.

[2021-01-20 14:23] #70 closed

[2021-01-22 12:53] garg3133 commented on #14
Till when can I expect it to be complete @tmo66?

[2021-01-22 15:18] Vrindagupta6828 commented on #62
@garg3133 When the google accounts page after sign up is redirecting to the original jagrati webapp page i am facing this issue and i am unable to solve it can you please guide me.

ValueError at /social-auth/complete/google-oauth2/
User must have a password

[2021-01-22 16:16] garg3133 commented on #57
Resolved in #69.

[2021-01-22 16:16] #57 closed

[2021-01-22 16:20] garg3133 commented on #52
Resolved in #71.

[2021-01-22 16:20] #52 closed

[2021-01-22 16:39] garg3133 commented on #62
@Vrindagupta6828 Which Python package are you using for oauth? I guess the problem is that oauth is trying to create a user without a password, which is not possible in our application. So you need to come up with something to create a random password and use it while creating a new user using oauth.

Also, you may open a [Work In Progress] PR to get better feedback.

[2021-01-23 07:38] garg3133 commented on #54
Resolved in #72.

[2021-01-23 07:38] #54 closed

[2021-01-23 18:33] palak199 opened #73 "Student edit profile"
Currently the edit profile feature isn't working.
- [X] I would like to work on it.

[2021-01-24 11:47] Vrindagupta6828 opened #75 "Add Favicon"
Add a favicon for the website

[2021-01-25 13:59] garg3133 commented on #75
But I believe we do have a favicon on the site, don't we?

[2021-01-25 14:07] garg3133 opened #76 "Write unit tests for login_signup view"
Write unit tests for `login_signup` view in the `accounts` app. The tests need to be added in a file `test_views` in `test` directory of `accounts` app.

To learn about how to write unit tests in Django, you may follow this tutorial from MDN: https://developer.mozilla.org/en-US/docs/Learn/Server-side/Django/Testing

For any further doubts and queries, feel free to join the community and ask there:

[2021-01-25 14:11] garg3133 opened #77 "Write unit tests for dashboard view"
Write unit tests for `dashboard` view in the `home` app. The tests need to be added in a file `test_views` in `test` directory of `home` app.

To learn about how to write unit tests in Django, you may follow this tutorial from MDN: https://developer.mozilla.org/en-US/docs/Learn/Server-side/Django/Testing

For any further doubts and queries, feel free to join the community and ask there: https://di

[2021-01-25 14:13] garg3133 opened #78 "Write unit tests for attendance view in volunteers app"
Write unit tests for `attendance` view in the `volunteers` app. The tests need to be added in a file `test_views` in `test` directory of `volunteers` app.

To learn about how to write unit tests in Django, you may follow this tutorial from MDN: https://developer.mozilla.org/en-US/docs/Learn/Server-side/Django/Testing

For any further doubts and queries, feel free to join the community and ask ther

[2021-01-25 14:15] garg3133 opened #79 "Unit tests for new_student view"
Write unit tests for `new_student` view in the `students` app. The tests need to be added in a file `test_views` in `test` directory of `students` app.

To learn about how to write unit tests in Django, you may follow this tutorial from MDN: https://developer.mozilla.org/en-US/docs/Learn/Server-side/Django/Testing

For any further doubts and queries, feel free to join the community and ask there:

[2021-01-25 14:17] Vrindagupta6828 commented on #75
oh yes i am sorry actually it was showing favicon not found so i got confused.

[2021-01-25 14:17] #75 closed

[2021-01-25 14:19] Vrindagupta6828 commented on #79
@garg3133 Can I work on this issue. Please assign this issue to me.

[2021-01-25 14:20] garg3133 commented on #79
Sure @Vrindagupta6828!

[2021-01-25 18:22] nayaldivya commented on #76
Hi @garg3133, can you please assign this issue to me

[2021-01-25 18:29] garg3133 commented on #76
Sure @nayaldivya!

[2021-01-27 15:18] garg3133 commented on #22
Resolved in #59.

[2021-01-27 15:18] #22 closed

[2021-01-28 06:42] garg3133 commented on #76
@nayaldivya You may also refer to `IndexViewTests` [here](https://github.com/garg3133/fossee/blob/master/roomslotbooking/home/tests/test_views.py) if this is the first time you are writing tests and want to know more about how to write these.

[2021-01-28 06:44] garg3133 commented on #38
@Utkarsh-Agarwal-585 It is a very straight-forward issue. If you are not working on this, please unassign yourself from the issue.

[2021-01-28 07:00] Utkarsh-Agarwal-585 commented on #38
I'm working on it

[2021-01-28 07:08] garg3133 opened #80 "Clicking on student name should open student profile"
On clicking on the student name (appearing anywhere throughout the app), the student's profile should open **in a new tab**.

If I remember correctly, right now student names appear in two places, one on student attendance page (`/students/attendance/`) and other on the dashboard (`'/dashboard/`). The student profile can be found at `/students/profile/<user_id>/`.

Solving this issue requires a ba

[2021-01-28 07:42] garg3133 opened #81 "Clicking on volunteer name should open volunteer profile"
On clicking on the volunteer name (appearing anywhere throughout the app), the volunteer's profile should open **in a new tab**.

If I remember correctly, right now volunteer names appear in three places, one on the volunteer attendance page (`/volunteers/attendance/`), on the volunteers list page (`/volunteers/list/`), and last on the dashboard (`'/dashboard/`). You need to assign yourself a desi

[2021-01-28 07:58] garg3133 opened #82 "Take student attendance using AJAX"
Right now, for taking the student attendance, we need to mark all the present students as present (by ticking the corresponding checkbox) on `/students/attendance/` page and then submit the form. The way it works is, it first marks all the students of the classes for which the attendance was submitted as absent and then marks the students for which checkbox was ticked as present.

But there's a pr

[2021-01-28 08:04] garg3133 commented on #82
@sagarpandyansit If you're interested, you may take up this issue as by now you've gained a good knowledge of AJAX and this will be a good challenge to level it up.

[2021-01-28 10:32] sakshikhachane commented on #80
@garg3133 I would like to work on this issue.

[2021-01-28 10:33] sakshikhachane commented on #81
@garg3133 I would also like to work on this issue.

[2021-01-28 10:34] garg3133 commented on #80
Sure @sakshikhachane!

[2021-01-28 10:35] garg3133 commented on #81
I'll assign this to you once you complete #80. Till then, this issue is open for others.

[2021-01-28 18:24] sagarpandyansit commented on #82
Sure, @garg3133. It would be a good learning experience with you. You can assign it to me.

[2021-01-29 10:03] garg3133 commented on #62
Resolved in #74.

[2021-01-29 10:03] #62 closed

[2021-02-01 22:12] schmelto opened #84 "Connect button on phone not shown completely"
![Screenshot_20210201_231039_com.android.chrome~3.jpg](https://user-images.githubusercontent.com/30869493/106524473-ec9c8800-64e2-11eb-9c4d-1ab1ef6b2234.jpg)

[2021-02-02 13:03] garg3133 commented on #84
Thanks for raising the issue @schmelto!

Actually, we had already fixed this issue but it was not deployed on Heroku. I've just deployed all the recent changes to heroku and this issue has been fixed now.

Cheers!!

[2021-02-02 13:03] #84 closed

[2021-02-03 16:24] Vrindagupta6828 commented on #79
@garg3133 Can you please tell me how to run the test written as when i am executing the statement manage.py test students it is showing the following error:
ModuleNotFoundError: No module named 'students'

[2021-02-03 16:28] garg3133 commented on #79
Try to run `python manage.py test apps/students`

[2021-02-03 16:29] sagarpandyansit commented on #58
@garg3133, I spent almost a day finding the working of Django built-in Password validators. I found that it's applicable with forms.py only. It can't inherit to HTML file. Please verify once again if you think that it works in our case too and let me know.

[2021-02-03 17:19] Vrindagupta6828 commented on #79
I did all that but when i am running this it is showing ran 0 test

[2021-02-03 17:19] Vrindagupta6828 commented on #79
It should show ran 1 test

[2021-02-03 17:22] garg3133 commented on #79
Have you deleted the `tests.py` file? If not, you should delete it.

[2021-02-04 05:33] Vrindagupta6828 commented on #79
I have deleted the file and create a folder named tests and in that have made a fike test_views.py

[2021-02-04 10:31] Aayush-hub opened #86 "Add Github Actions"
Add Github actions for enhancement of project

[2021-02-04 10:41] garg3133 commented on #86
Can you please explain in more details what exactly you are proposing. I see no use case of GitHub Actions in this project as of now. Maybe we'll need GitHub Actions later once the tests are developed for the project.

[2021-02-04 10:56] Abhijay007 opened #87 "centralized "Vision" and "Mission" text part in the about us section"
Currently, on the website, the "vision" and "mission" text part in the "About us" section (for the web view) is not aligned in the center with respect to the given picture.

***before***
![jagriti-vis](https://user-images.githubusercontent.com/64387054/106883046-71ff8280-6705-11eb-9126-c3d659f29124.PNG)

***after***
![jagriti-vis-after](https://user-images.githubusercontent.com/64387054/106883119-

[2021-02-04 10:56] Aayush-hub commented on #86
@garg3133 We can add First Interaction bot for first time contributors to this project to greet them with a message,  when they raise any issue or make any pull request solving any issue. This makes project more attractive for contributors.

[2021-02-04 11:00] garg3133 commented on #86
@Aayush-hub There's already an issue open for this #56. You can ask the assignee of that issue and if he's not working, you can work on that issue.

[2021-02-04 11:05] Aayush-hub commented on #56
@akrish4 Hey, are you still working on it or I can take over it?

[2021-02-04 13:08] Vrindagupta6828 commented on #79
@garg3133 Can you please assist me how to advance further?

[2021-02-04 14:59] garg3133 commented on #79
@Vrindagupta6828 Where are you stuck at?

You first need to create a class with name that matches function view name like `NewStudentViewTest`.

In that class, create a function `setUpTestData` in which you'll need to create some sample user (with `auth` & `is_active` as `True`), and then create that user's volunteer profile so that the user can access `new_student` view.

Then the first few funct

[2021-02-04 17:29] sagarpandyansit commented on #82
@garg3133, I found `ajax/attendance` URL in the students `urls.py` file as well as `view` for that. Has this issue already been resolved? Kindly check.

[2021-02-04 18:43] garg3133 commented on #82
@sagarpandyansit No, that is for fetching the student list according to class range selected in dropdown. You can change these to `ajax_attendance_fetch_students`.

[2021-02-04 19:19] garg3133 commented on #87
Hey @Abhijay007, thanks for raising this issue! But this is actually intentional and we don't want to change that.

[2021-02-04 19:19] #87 closed

[2021-02-05 02:59] akrish4 commented on #56
Yes go ahead @Aayush-hub
I am bit busy

[2021-02-05 10:15] #56 closed

[2021-02-05 10:15] #86 closed

[2021-02-05 10:31] m-code12 commented on #41
@garg3133 I would like to take up this issue.

[2021-02-05 10:32] garg3133 commented on #41
Sure @m-code12, go ahead! Assigning it to you.

[2021-02-05 11:48] RutvikJ77 commented on #39
Hey is this issue still open?
I see there are pull requests made but in case if it's open I would like to work on it.

[2021-02-05 14:32] SwarupKharul commented on #38
Can u please assign me the task, I know what is to be done exactly. I am a participant of MWoC.

[2021-02-05 14:35] garg3133 commented on #38
Sure @SwarupKharul, you can take this issue.

@Utkarsh-Agarwal-585 It's been 35 days since you took up this issue. So, I'm unassigning you from this issue.

[2021-02-05 15:24] tanya162 commented on #81
I would like to work on this issue

[2021-02-05 15:31] garg3133 commented on #81
Sure @tanya162, go ahead! Assigning you the issue.

[2021-02-05 17:27] sagarpandyansit commented on #58
@garg3133, you can assign this issue to someone else. I am currently working on the other issue.

[2021-02-05 18:09] garg3133 commented on #73
Resolved in #85.

[2021-02-06 06:24] #73 closed

[2021-02-06 08:00] garg3133 opened #90 "Take volunteer attendance using AJAX"
Right now, for taking the volunteer attendance, we mark all the present volunteers as present (by ticking the corresponding checkbox) on `/volunteers/attendance/` page and then submit the form. On submitting the form, the backend first marks all the volunteers scheduled for that day as absent and then marks the volunteers for whom checkbox was ticked as present.

Also, if there are some extra volu

[2021-02-06 18:51] palak199 opened #92 "Add a display class schedule page"
Currently the page to show schedule of classes is missing
- [x] I would like to add it.

[2021-02-07 21:57] anikashc commented on #58
Please assign this issue to me.

[2021-02-08 07:44] garg3133 commented on #58
Sure @anikashc, go ahead! Assigning it to you.

[2021-02-08 12:07] garg3133 commented on #38
Resolved in #96, thanks @SwarupKharul!

[2021-02-08 12:07] #38 closed

[2021-02-09 05:49] vybhav72954 opened #97 "A Linter for Python"
As we are using Django as our backend, I believe it would be a good idea to have a Linter for Python.

This will help in enforcing guidelines, code quality, and documentation at the same time ensuring that no improper or vulnerable code has been pushed in the Repo.

[2021-02-09 10:38] garg3133 commented on #97
That would be a good idea. You can move forward with this. Assigning you the issue.

[2021-02-09 10:45] vybhav72954 commented on #97
Was just wondering, as am a participant in Script WInter of Code, can Labels be assigned though?

[2021-02-09 10:46] garg3133 commented on #97
Yeah, sure!

[2021-02-09 10:47] vybhav72954 commented on #97
And one last quetion

Whcih linter would you prefer?

- pyLint (Best overall, but strict)
- Black (Less strict)
- flake8 (Most beginner-friendly)

I would recommend pyLint, as we can change the threshold

[2021-02-09 10:50] vybhav72954 commented on #97
This is awkward, I just noticed you guys are participating in `Mexili ` as well, can you put that label as well 😅

[2021-02-09 10:57] garg3133 commented on #97
I think flake8 will be good for now as I haven't used any fixed coding standard while writing this app so there may be many inconsistencies throughout the application and it won't be a good idea to enforce strict standards at this point.

Sure.

[2021-02-09 11:03] vybhav72954 commented on #97
I understand your point, but take this as a suggestion, Even if there are no super strict standards here (which means no pylint), still black is a better choice than flake8.

or even better, flake8 after black (I will leave this for you to decide) meanwhile I will start with the environment configuration.

PS- We can update in future now the less, so not a big probelm

[2021-02-09 11:15] garg3133 commented on #97
Well, I don't have much idea about the lining as of now so you can decide according to your experience which linter will be best in our case (we just don't want to enforce very strict coding standards for now).

[2021-02-09 11:40] vybhav72954 commented on #97
Sure i will ensure that, secodly, I will ensure that you can configure the linter from your side as well in order to make it more liniant or strict as per your preferences, would be opening the PR asap.

[2021-02-09 13:15] vismitap commented on #78
Hey! May I try this issue?

[2021-02-09 13:47] garg3133 commented on #78
Hey, sure go ahead. Assigning you the issue.

[2021-02-10 19:32] m-code12 opened #100 "Add a scroll to top button in the homepage"

[2021-02-10 19:38] garg3133 commented on #100
Yeah, having a scroll-to-top button would be nice. Assigning you the issue.

[2021-02-11 09:28] Sloth-Panda opened #101 "Creation of issue, pr templates"
Let me know if there is any requirement of issue and pr templates

[2021-02-11 14:01] garg3133 commented on #101
There is already an open issue #40 and an open PR #83 for this. I had some doubts and required some changes in that. You can ask in that issue if he is still interested in solving this issue otherwise you can take that issue.

[2021-02-11 14:28] vismitap commented on #78
This is the directory structure right now
![image](https://user-images.githubusercontent.com/47056243/107649096-1acc5580-6ca3-11eb-9fe0-983fc3ec4137.png)

So, just wanted to confirm that I should create a new folder called test and a file called test_views and not touch already present tests.py right? The tests.py is empty for all apps currently.

[2021-02-11 14:31] garg3133 commented on #78
You can delete the already present tests file.

[2021-02-11 14:40] vismitap commented on #78
Okay! I will start working👍. I will try to raise a PR by tomorrow...still trying to learn testing😅.

[2021-02-11 14:54] Sloth-Panda commented on #40
Hey, can I proceed with the above mentioned  issue?

[2021-02-11 14:55] Sloth-Panda commented on #101
@garg3133 can you tell me whats the problem that you have not merged that code cause its been 11days since his code is not merged so can I just go ahead and make the pr?

[2021-02-11 15:00] garg3133 commented on #101
The PR looks good to me. I was just confused about one thing which you can read in the PR review comment.

[2021-02-11 15:50] #101 closed

[2021-02-11 20:44] lopeselio opened #102 "Pin important issues"

[2021-02-11 21:00] lopeselio opened #103 "Add a github link logo at the footer to navigate open source devs to the github repository"
This can help in the development of the project in the future

[2021-02-12 13:21] #41 closed

[2021-02-12 13:23] garg3133 commented on #103
That's a great idea @lopeselio! Thanks for suggesting.

[2021-02-12 13:36] garg3133 commented on #102
Thanks @lopeselio for suggesting this :)

[2021-02-12 13:36] #102 closed

[2021-02-12 15:21] vybhav72954 opened #105 "Refactor the Errors observed in Flake8 linter"
I ran the Flake8 linter on the whole codebase.

Here is the [instance](https://github.com/garg3133/JagratiWebApp/pull/104/checks?check_run_id=1888095595).

There are approximately 50 errors.

I believe we should start sorting them like right now before the numbers start piling up.

Moreover, we need to consider that flake8 is a compromising linter unlike PyLint, I understand that the errors *might

[2021-02-12 15:21] vybhav72954 commented on #105
Reference #104

[2021-02-12 18:04] garg3133 commented on #105
Yeah, we should definitely fix them and have some proper coding standards in place moving forward. Would you like to work on this too?

[2021-02-12 18:34] vybhav72954 commented on #105
I can start with refactoring the errors like right now

[2021-02-12 18:34] vybhav72954 commented on #105
For guidelines, I can create more of a vague kind of styling, like all the basic guidelines without nitpicking obviously.

later on, we can discuss what we want to edit.

[2021-02-12 20:01] vybhav72954 commented on #105
@garg3133 It would take time to make a Guideline though, so with this issue, I am just refactoring the code :)

Can I have a SWOC too, please

[2021-02-12 20:42] vybhav72954 opened #106 "Update the .gitignore for various IDE"
Just a small issue but it is  bugging me out while am trying to refactor the code 😆

I can update IDEs in the `.gitignore`

[2021-02-13 11:03] #97 closed

[2021-02-14 13:03] vybhav72954 commented on #106
Can you also include `.idea` please for those who use JetBrains IDE

[2021-02-14 14:33] garg3133 commented on #106
Done.

[2021-02-14 14:33] #106 closed

[2021-02-15 13:55] Amit366 commented on #77
I would like to work on this issue.

[2021-02-15 14:23] garg3133 commented on #77
Sure @Amit366, go ahead!

[2021-02-15 19:15] MASTERCHIEF011 commented on #103
can u assign this to me.

[2021-02-15 22:17] lopeselio commented on #103
Hey I had been working on this already

[2021-02-16 13:13] Amit366 commented on #77
@garg3133 should I write the code in test.py in "home"

[2021-02-16 13:28] garg3133 commented on #77
@Amit366 Create a new folder in home with name `tests` and inside it write your code in `test_views.py` file. You may delete the `tests.py` file.

[2021-02-18 14:12] Abhijay007 commented on #100
@garg3133 is someone working on it? can I work on it?

[2021-02-18 14:22] m-code12 commented on #100
Yes I am working on it @Abhijay007

[2021-02-18 14:47] Abhijay007 commented on #100
ok @m-code12 👍

[2021-02-20 17:14] #100 closed

[2021-02-21 03:28] DanBrown47 opened #110 "Adding Docker Support:"
**Is your feature request related to a problem? Please describe.**
Not related to a problem but is an enhancement

**Describe the solution you'd like**
I would like to add docker support for Jagrati App enabling much more support for developers as they need not setup python environment manually to test also cloud deployment will become more simple.

**Describe alternatives you've considered**
Addi

[2021-02-21 03:53] DanBrown47 commented on #110
Permission to contribute

On Sun, Feb 21, 2021 at 8:59 AM Jagrati-Bot <notifications@github.com>
wrote:

[2021-02-21 20:55] garg3133 commented on #110
That sounds great @DanBrown47! You can surely work on this issue. Assigning it to you.

[2021-02-22 08:04] m-code12 opened #112 "[feature]: Add a GitHub action to auto-assign Mentors for every PR"
I would like to add a GitHub action to auto-assign mentors for every PR. It sometimes becomes hectic for the mentors to take a look at all the Projects for the PRs made by the Contributors. This action would give a nice notification about reviewing the pr and make things pretty easy for the mentor. It would automatically ask for reviews by the mentors on every pr created.

Demo :
<img src="https:/

[2021-02-22 08:04] m-code12 commented on #112
@garg3133 Can I work on this?

[2021-02-22 13:10] garg3133 commented on #112
@m-code12 Thanks for raising this issue. But I don't feel the need for this action as we already use webhooks for Discord so we get all the notifications on Discord directly, which is also better than getting the notifications on emails (which spams the inbox).

[2021-02-22 13:10] #112 closed

[2021-02-25 13:41] Aayush-hub commented on #103
@garg3133 Can you assign me this if its open?

[2021-02-26 11:13] anirudhsai20 opened #114 "README.md file enhancement"
The README.md file can be enhanced by adding a list of all the open source programs that this project has been listed in. A table of all the contributors will further enhance the file.

[2021-02-26 11:13] anirudhsai20 commented on #114
Hi @garg3133 . Can I please work on this under SWOC?

[2021-02-26 11:46] Aniket118 commented on #81
I would like to work on this issue! @garg3133

[2021-02-26 11:46] Aniket118 commented on #80
I would like to work on this issue! @garg3133

[2021-02-26 12:02] garg3133 commented on #80
Sure @Aniket118, go on!

[2021-02-26 12:06] garg3133 commented on #103
I don't think @lopeselio is working on this. So, go ahead @Aayush-hub! Assigning it to you.

[2021-02-26 12:08] garg3133 commented on #114
Sure @anirudhsai20, you can work on this. Assigning it to you.

Open Source Program we participated in:
* Kharagpur Winter of Code 2020
* Script Winter of Code
* Mexili Winter of Code

[2021-02-27 09:20] #103 closed

[2021-02-28 08:02] garg3133 commented on #110
Resolved in #111.

[2021-02-28 08:02] #110 closed

[2021-02-28 17:29] garg3133 opened #118 "Remove "Update" logic in student attendance."
Remove the "Update" button and its logic in Student attendance view.

[2021-02-28 17:40] #82 closed

[2021-03-01 06:01] chehak123 commented on #114
Hi, i want to contribute as a participant of gssoc'21

[2021-03-01 12:10] garg3133 commented on #114
@chehak123 Please wait for a while till we get proper instructions from the administrators of the program on how to move forward.

[2021-03-01 12:10] garg3133 commented on #118
@sagarpandyansit ^

[2021-03-01 13:22] garg3133 commented on #105
I'll be refactoring the codebase myself. Thank you for your time and efforts.

[2021-03-01 13:22] #105 closed

[2021-03-02 08:59] garg3133 commented on #36
Resolved in 99bdae8.

[2021-03-02 08:59] #36 closed

[2021-03-07 19:13] garg3133 commented on #40
Fixed in a2f3d33.

[2021-03-07 19:13] #40 closed

[2021-03-07 20:01] garg3133 commented on #65
Resolved in 59bae57.

[2021-03-07 20:01] #65 closed

[2021-03-08 12:25] nilisha-jais commented on #114
I want to work on it

[2021-03-08 13:33] garg3133 commented on #114
Sure @nilisha-jais, you can take this issue. Assigning it to you.

[2021-03-08 15:16] amangupta37 opened #119 "[feature]: Online Payment Integration"
### Integrating online payment option for better user experience to donate an amount  for the organization

[2021-03-08 15:30] garg3133 opened #120 "[feature]: Allow to change student profile picture"
**Is your feature request related to a problem? Please describe.**
Currently, there is no option of updating the profile picture of students.

**Describe the solution you'd like**
On clicking over the profile picture of a student on student profile update page (/students/profile/update/1), a popover should appear (see Bootstrap Popovers) with two options, one for viewing the profile picture which

[2021-03-08 15:59] Shivam-Shandilya1 commented on #81
Can I work on this Issue?

[2021-03-08 15:59] Shivam-Shandilya1 commented on #80
Can I work on this issue?

[2021-03-08 16:45] amangupta37 commented on #119
i would like to work on this feature

[2021-03-08 17:24] garg3133 commented on #80
Sure @Shivam-Shandilya1, you can work on this. Assigning you the issue.

[2021-03-08 17:29] Naman-12911 commented on #114
I want to update read me file . I am a participant of girls scripts summer of code

[2021-03-08 17:32] garg3133 commented on #114
@Naman-12911, @nilisha-jais is currently working on this issue. You can take some other issue and work on that.

[2021-03-08 17:33] garg3133 commented on #119
Sure @amangupta37, that'll be a good idea. You can work on this. Assigning you the issue.

[2021-03-08 17:41] Naman-12911 commented on #114
ohk sir.

[2021-03-08 18:56] RituCs commented on #58
Hello, I want to work on this issue. If it is still open please assign me.

[2021-03-08 19:07] garg3133 commented on #58
Sure @RituCs, you can take this issue.

[2021-03-08 19:27] garg3133 opened #121 "Add checks for profile picture while uploading"
While uploading a profile picture on `Complete Profile` page, add checks to verify that the entity being uploaded is actually an image file (has `.jpg`, `.jpeg`, `.png` or `.gif` extension) and not some random file.

The form should show an error (can be a JS alert) if any random file is selected to be uploaded instead of an image file.

[2021-03-08 20:10] garg3133 opened #122 "New calendar page"
A calendar page is required which can be used to display all the events and classes scheduled on a particular day.

Basically the idea is to have two drop-down menus at the top of the page to select the month and year for which we want to see the calendar. The calendar displayed should show all the dates of that month in square blocks (like any usual calendar) with green background if class is sch

[2021-03-08 20:48] somya51p commented on #121
Hello, @garg3133 sir! I wish to contribute to this issue under gssoc'21.

[2021-03-08 20:50] garg3133 opened #123 "Display subject on dashboard."
Display the subject that was scheduled to be taught on the selected day for the selected section on Dashboard.

The subject should be displayed as "**Subject scheduled:** <subject_name>" below the Continue button and above the classwork-homework on the dashboard.

The subject can be retrieved from the `Schedule` table in `home` app.

[2021-03-08 20:56] garg3133 commented on #121
Sure @somya51p, go ahead! Assigning you the issue.

[2021-03-08 23:18] bitaashna opened #124 "Direct mailing through website only"
In the contact us Form ,I'll like to update mailing directly through website where user can write their mails and submit it there only.
Instead of providing static mail ID .
I would like to contribute to it as a part of GSSOC'21.
Can you please assign this work to me.

[2021-03-09 03:11] sahildotexe commented on #121
Hey !! I am a participant of GSSOC'21 , can you assign this issue to me?

[2021-03-09 05:24] tmo66 commented on #23
Hey, @harikishantk are you still working on this?

[2021-03-09 05:34] tmo66 commented on #32
Hey, @harikishantk are you still working on this?

[2021-03-09 05:34] harikishantk commented on #23
Yes I'm working on it, under GSSoC 21.

[2021-03-09 05:47] harikishantk commented on #32
Yes I am, under the GSSoC 21' .

[2021-03-09 05:50] micksharma commented on #122
I want to work on this issue.

[2021-03-09 05:50] micksharma commented on #123
I want to work on this issue.

[2021-03-09 05:54] tmo66 commented on #121
It's great to see your enthusiasm @sahildotexe, but right now @somya51p is working on this. You can check other issues for now.

[2021-03-09 05:54] micksharma commented on #120
I want to work on this issue.

[2021-03-09 05:56] promaroy commented on #14
Can I work on this as a part of GSSOC '21?

[2021-03-09 05:57] micksharma commented on #14
Can I work on this issue.

[2021-03-09 06:02] micksharma commented on #90
I want to work on this issue.

[2021-03-09 06:10] akshay399 commented on #123
Can i please work on this issue?

[2021-03-09 06:14] garg3133 commented on #122
@micksharma Instead of commenting on 5 different issues, can you please stick with one and let me know which one is it? I'll assign that issue to you.

[2021-03-09 06:15] garg3133 commented on #14
Sure @promaroy, go ahead! Assigning you the issue.

[2021-03-09 06:15] garg3133 commented on #123
Sure @akshay399, you can work on this. Assigning you the issue.

[2021-03-09 06:22] micksharma commented on #122
@garg3133 I am working on this issue. Can you assign it to me.

[2021-03-09 06:27] micksharma commented on #122
Thanks for assign me . I commenting because by contributing guidelines first come first serve.

[2021-03-09 06:31] anurag0singh commented on #120
Sir assign me this issue under GSSOC'21

[2021-03-09 06:53] tmo66 commented on #92
Hey @palak199, are you still working on this?

[2021-03-09 06:58] Riya764 commented on #39
I would like to work on this issue.Please /assign this to me as a part of GSSOC'21

[2021-03-09 07:07] promaroy commented on #14
@garg3133 for thumbnail do I need to keep an upload option for image? Or can we give the link for images?

[2021-03-09 07:08] garg3133 commented on #124
@bitaashna We have a feedback page for that (`/feedbacks`), so I don't think we need this. Having just the email id in the Contact Us section is fine.

I think having a link to the Feedback page in the navbar would be better. Can you do that instead?

[2021-03-09 07:09] garg3133 commented on #14
@promaroy Giving the upload option would be better.

[2021-03-09 07:12] garg3133 commented on #39
@Riya764 This issue needs some further discussion with the team so we are currently not taking contributions on this issue. You can take a look at other issues if any interests you. Thank you.

(I am locking this issue.)

[2021-03-09 07:30] Haneesha123 commented on #81
Hi, I am a GSSOC'21 participant and I have experience in Django. Can you assign me to this issue? @garg3133

[2021-03-09 07:32] subhangi2731 commented on #118
can you please assign this to me?

[2021-03-09 07:34] subhangi2731 commented on #90
can you please assign me this?

[2021-03-09 07:35] subhangi2731 commented on #76
can you please assign this to me?

[2021-03-09 07:57] garg3133 commented on #76
@subhangi2731 Please comment on one issue only which you want to work on and I'll assign that to you.

[2021-03-09 08:15] Haneesha123 commented on #81
Okay. I would like to take up issue #34  @garg3133

[2021-03-09 08:23] garg3133 commented on #81
@Haneesha123 Just comment on that issue and I'll assign it to you.

[2021-03-09 08:34] Haneesha123 commented on #34
I would like to work on this issue @garg3133

[2021-03-09 08:52] garg3133 commented on #34
Sure @Haneesha123, go ahead! Assigning you the issue.

[2021-03-09 10:20] bitaashna commented on #124
@garg3133  Really sorry for the late reply. No problem @nitinjaiswal7537 can continue to work on it!

[2021-03-09 10:41] garg3133 opened #125 "Dashboard sidebar on small screens"
The dashboard sidebar currently opens from the top on small screens. We wish to change that behaviour so that it opens from the left side instead.

A small hamburger menu can be placed just below the navbar on the left to open the menu and along with that, swipe to right on the screen should also open the sidebar.

[2021-03-09 10:53] Saatvik21 opened #126 "Typing Mistakes"
In the front page of the jagrati website. There are various _typos_ in the html document.

As a participant of GSSOC'21, I would like to work on this issue.

Please assign me this issue @garg3133 .

![typo](https://user-images.githubusercontent.com/61618767/110460034-b494f000-80f3-11eb-914d-3c4d354d5d1a.png)

[2021-03-09 11:39] nitinjaiswal7537 commented on #124
@garg3133 ok i  am ready to go

[2021-03-09 11:41] Saatvik21 commented on #126
I would also like to change the subheading page's showcase on the front page of the Jagrati Website but I couldn't find the paragraph in the html file for the same.

Can you please tell me where is the showcase part located so that I can work on this issue?
![missing](https://user-images.githubusercontent.com/61618767/110465350-4dc70500-80fa-11eb-98f0-6fff47947d30.png)

[2021-03-09 11:45] garg3133 commented on #126
The showcase text is present in a javascript file. You can globally search the text in the project to find its exact location.

Also, there are many other errors throughout the page. Can you fix those too?

[2021-03-09 11:49] Saatvik21 commented on #126
Alright sir, I'll try to fix them.
Thank you.

[2021-03-09 12:32] Saatvik21 commented on #126
Can you please review my PR and let me know if I should go for more changes.

Thank you.

[2021-03-09 12:55] Naman-12911 commented on #121
hello please assign me this issue under the GSSOC.

[2021-03-09 13:11] Aarti002 commented on #121
hello @garg3133 can i take this issue as a gssoc participant

[2021-03-09 13:14] garg3133 commented on #121
@Naman-12911 @Aarti002 All the issues which are already assigned were assigned today only. You can check with other issues which are currently unassigned.

[2021-03-09 13:23] ashutoshkrris commented on #119
I have also worked with Paytm and RazorPay integration in Django and want to work on this issue.

[2021-03-09 14:59] garg3133 commented on #119
@ashutoshkrris, @amangupta37 is working on this issue at this point. You can check with other issues if any interests you.

[2021-03-09 15:18] Aarti002 commented on #123
cool , thanks!!

[2021-03-09 20:00] ThumarHarsh commented on #81
Hi, I am a GSSOC'21 participant and I have experience in Django. Can you assign me to this issue? @garg3133

[2021-03-09 20:41] garg3133 commented on #81
Sure @ThumarHarsh, as @Shivam-Shandilya1 is not responding, you can take up this issue. Assigning it to you.

[2021-03-10 06:51] ThumarHarsh commented on #81
how can i  assign myself as s designation of Math Convener to view volunteer attendance on the Dashboard.@garg3133

[2021-03-10 07:50] tanya1810 commented on #118
Hii. You can check my profile. I have worked on several Django project. I can resolve this issue. Please assign this issue to me. @garg3133

[2021-03-10 08:41] sagarpandyansit commented on #118
@subhangi2731 @tanya1810, I am working on it.

[2021-03-10 10:56] garg3133 commented on #118
No worries @tanya1810, I'll open up few more issues which you can work on a :)
Just give me some time.

[2021-03-10 11:14] garg3133 opened #131 "Add "Subject Taught" field in classwork-homework"
Add a `subject_taught` field in classwork-homework model. This is important because sometimes some other subject is taught to the students than what was actually scheduled.

For filling this field, there should be a `select` input in Update CW-HW section of the dashboard which. Initially, the value of select input should be the subject which was actually scheduled to be taught, which the user can

[2021-03-10 11:15] garg3133 commented on #131
@tanya1810 Would you like to work on this?

[2021-03-10 11:17] tanya1810 commented on #131
Yes sir. I will do this.

[2021-03-10 11:18] garg3133 commented on #131
Let me know if you face any difficulty.

[2021-03-10 11:19] tanya1810 commented on #131
Sure. Thanks a lot :)

[2021-03-10 12:44] Kritikaagra opened #132 "[feature]: enhance navbar"
Hey!
I would like to enhance the navbar as it makes a better user experience
please assign this to me under ggsoc'21

[2021-03-10 12:52] sakshi21-03 commented on #32
@garg3133 , i would like to work on this part.

[2021-03-10 13:01] garg3133 commented on #132
@Kritikaagra Can you please explain in more details how you are going to enhance the navbar?

[2021-03-10 13:04] garg3133 commented on #32
Hey @sakshi21-03, @harikishantk is currently working on this issue. Would you like to work on something else? Like we need a new page to display all the feedbacks received in `feedbacks` app. Would you like to work on that?

[2021-03-10 13:19] thesakshipandey commented on #120
I can work on this issue
please assign me this issue under GSSoC'21

[2021-03-10 13:20] thesakshipandey commented on #132
I can do this using Bootstrap, Can you assign me this issue under GSSoC'21?

[2021-03-10 15:11] garg3133 commented on #132
Okay @Kritikaagra, you can go ahead.

[2021-03-10 15:12] thesakshipandey commented on #120
I tried taking up the issues, which I could do, but most of them are assigned anyway.
Okay, if anyone is not able to, then I'll do it for sure!

[2021-03-10 15:14] garg3133 commented on #132
@thesakshipandey We need some changes in the sidebar of the dashboard (which appears after logging in). What we want is to have the links to all the different pages on the application placed there in categories. Would you like to do that?

[2021-03-10 15:28] thesakshipandey commented on #132
Yeah, sure
Please assign that issue under GSSoC'21
I would do it!!!

[2021-03-10 15:44] garg3133 opened #133 "Add links to all the different pages on sidebar"
We need to have the links to all of the different pages available throughout the application placed on the sidebar, in categories. For example, there should be a collapsible/dropdown with name `Students` and on opening it, links to all the pages related to students should appear (like `All students`, `Add new student`, `Student Attendance`, etc.).

The sidebar appears on almost all the pages after

[2021-03-10 15:44] garg3133 commented on #133
@thesakshipandey ^

[2021-03-10 16:08] thesakshipandey commented on #133
Thanks I will do it!!

[2021-03-10 16:16] garg3133 commented on #133
I'm currently thinking of 4 categories:
1. Manage Classes: Dashboard, Volun. Schedule
2. Students: All students, Add new student, Take Attendance
3. Volunteers: All volunteers, Attendance
4. Self: Update Schedule, Update Profile

[2021-03-10 16:23] hi-18-K commented on #133
I am GSSoC participant. I have worked on this kind of feature so can do it. Could you assign this to me?

Also, I have one query.. These tables 'students', 'volunteers', 'self' already exist in database? and we have to fetch data only? or we need to create the whole functionality..?

[2021-03-10 17:35] garg3133 commented on #133
Hey @hi-18-K, @thesakshipandey is working on it right now. You can take some other issue and if you don't find any, let me know your skill-set and I'll create one for you.

[2021-03-11 02:11] ashutoshkrris commented on #119
Thanks @garg3133
Let me know @amangupta37 , if you are not able to do this at any point of time.

[2021-03-11 05:54] amangupta37 commented on #119
@garg3133 since the backend is on python so I could not able to continue with this feature because I m experienced with Node.js for backend dev. You may assign this issue to @ashutoshkrris

[2021-03-11 05:57] ashutoshkrris commented on #119
Thanks !
@garg3133 let me know if I can work on this issue. Also, please mention which payment gateway you wish to integrate.

[2021-03-11 06:37] sakshi21-03 commented on #32
yes @garg3133 , i  would like to work on this part

[2021-03-11 06:48] sakshi21-03 opened #137 "[feature]: Page For Reviewing and Managing Feedbacks."
To create a new page which shows feedbacks.
can you please assign me for GSSOC'21 label.

[2021-03-11 07:27] khareyash05 opened #139 "Update contributing.md"
I would like to update contributing.md specifying not just cloning and forking the repo but also how to update your local and forked repo when there are changes in the upstream, synchronizing the fork,creating a new branch for each issue,squashing your commits
I would like to work in it as a part of GSSOC'21

[2021-03-11 08:10] garg3133 commented on #119
Sure @ashutoshkrris, you can work on this. I think integrating Paytm gateway would be fine.

[2021-03-11 08:10] thesakshipandey commented on #133
So the self part is already done?
I have do the other 3 right?
First I'll make the student one!!

[2021-03-11 08:12] garg3133 commented on #137
Sure @sakshi21-03, you can continue working on this. What we exactly want is this:

Create a new page to show all the feedbacks received. The feedbacks should be displayed in form of cards with the name and email of the author at the top, then feedback (truncated to a specific no. of characters) and date at the bottom.

On clicking over the feedback card, a modal should open displaying the complet

[2021-03-11 08:13] Priyanka7011 opened #140 "Navbar and footer can be improved"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

Hii

[2021-03-11 08:14] garg3133 commented on #133
Yeah, self part is already there but it is not properly categorised. So, you need to create a category dropdown for Self as well.

[2021-03-11 08:19] garg3133 commented on #140
Hey @Priyanka7011, thanks for raising this issue. There's already an issue open for this: #132. If you like, you can create the design of what you are proposing and post it there on the issue and I'll assign that issue to you if I like your designs more.

Closing this issue as a duplicate.

[2021-03-11 08:19] #140 closed

[2021-03-11 08:20] garg3133 commented on #139
That would be great @khareyash05, go ahead! Assigning you the issue.

[2021-03-11 08:33] Priyanka7011 commented on #132
Hii ! I am a GSSOC 2021 participant!
I would also like to give designs for the navbar and footer. If you like it @garg3133 please merge it.
Thank You!!!

[2021-03-11 08:50] thesakshipandey commented on #133
![image](https://user-images.githubusercontent.com/54810583/110760540-d23d9300-8274-11eb-824a-245730b7fc8b.png)
somewhat like this right?

I'll make it look better :)

[2021-03-11 08:53] garg3133 commented on #133
Instead of dropdown, try using Bootstrap Collapse.

[2021-03-11 08:55] thesakshipandey commented on #133
ok sir
I was thinking of collapse only, but you said dropdown, so I went for dropdown

[2021-03-11 08:56] thesakshipandey commented on #133
![image](https://user-images.githubusercontent.com/54810583/110761412-b686bc80-8275-11eb-815b-fdeb81d0622e.png)
anyway I did this w dropdown itself though >>

[2021-03-11 08:57] thesakshipandey commented on #133
I'll change it!

[2021-03-11 09:24] ashutoshkrris commented on #119
Sure, I'll work on it.
Thanks

[2021-03-11 10:28] akshay399 commented on #123
pls review the PR, thanks

[2021-03-11 12:03] garg3133 commented on #126
Resolved in #127.

[2021-03-11 17:03] Naman-12911 opened #146 "[feature]:"
#The problem
When a person sign up in our website its ohk. But when a bot sign up itself by different email address its creates problem and our server is also crash because of bots sin up.
# The solution.
we to apply a google re Captcha to protect from bots in our sin up page with the google security.
 # feature
I want to develop this feature in the sin up page .
kindly assign me this issue under

[2021-03-11 17:05] Naman-12911 commented on #146
Thanks you are assign me?

[2021-03-11 18:06] sakshi21-03 commented on #137
@garg3133 , okay i got it, but for this feedback  showing page, first we need to create a page where user will  be able to give feedback. Please let me know about the same.

[2021-03-11 18:43] ashutoshkrris commented on #119
Hey @garg3133
I have integrated Paytm. Please check the demo video attached below and let me know if you find any issue with it.

https://user-images.githubusercontent.com/47353498/110837765-ac8da980-82c7-11eb-881f-97dfd56020ee.mp4

[2021-03-11 19:20] garg3133 commented on #137
@sakshi21-03 Yeah! We already have one at `/feedbacks`.

[2021-03-12 06:43] khareyash05 commented on #139
@garg3133  created a PR Have a look

[2021-03-12 07:00] sagarpandyansit commented on #90
@garg3133, Is this the same as student's attendance?

[2021-03-12 08:07] garg3133 commented on #90
@sagarpandyansit Yes, it's pretty much the same with the only difference of the feature of adding extra volunteers to the attendance which are not a part of schedule.

[2021-03-12 08:10] garg3133 commented on #121
Resolved in #130.

[2021-03-12 08:10] #121 closed

[2021-03-12 08:46] rohank2502 opened #147 "Replace the tech stack names with their logos"
I will like to add the logo of each tech stack used this will make our readme more attractive !! Will start working on It as soon as I get assigned !

[2021-03-12 09:54] sagarpandyansit commented on #90
@garg3133, then there should be 2 different issues, isn't it? One is to add volunteers and the other one is to mark the attendance.

[2021-03-12 10:38] garg3133 commented on #90
@sagarpandyansit Adding attendance of an extra volunteer is just a continuation work of "Marking the attendance using AJAX" and can only be done after the latter work is complete. Instead of a separate issue, this issue can have two parts where the second part can only be done after the first is complete.

[2021-03-12 11:10] ANAMIKA1410 commented on #58
Hey, I am Anamika, a GSSOC'21 Participant.
I would like to contribute to this issue.
aim: strong password code in python

please assigne this to me.

[2021-03-12 11:43] garg3133 commented on #90
Edited the issue with the two tasks which can be done in two separate PRs.

[2021-03-12 13:31] sagarpandyansit commented on #90
I would like to work on this issue but, I could not be able to work on this right now due to the end sem exam. You may assign this to anyone, else I will start working on this after 3rd April.

[2021-03-12 14:09] garg3133 commented on #58
Sure @ANAMIKA1410, as @RituCs has not shown any progress until now, I'm assigning this issue to you.

[2021-03-12 14:13] garg3133 commented on #92
Hey @palak199, seems like you're not using Discord nowadays. Would you like to continue working on this issue? It would be great if you do but if not, can you please share your progress in form of a pull request so that someone else can start working on top of whatever you've built till now?

[2021-03-12 14:15] garg3133 commented on #147
Sure @rohank2502, you can work on this. But make sure the icon size is not too big. Assigning you this issue.

[2021-03-12 14:26] garg3133 commented on #119
Seems good @ashutoshkrris! Can you change the wording at a few places? Like instead of "Pay", write "Donate Now" and the button should be present in the first section, just below the bank details.

Also, in the modal opened, it is not clear whose name and email it is asking. So, you can write "Donator's Name" and "Donator's Email". Also, change the title of the modal to something like "Donation De

[2021-03-12 14:31] ashutoshkrris commented on #119
Yeah , sure @garg3133
I'll do it.

[2021-03-12 14:33] garg3133 commented on #146
Hey @Naman-12911, thanks for raising this issue. But the problem with this solution is that even if we use re-Captcha, the attacker may still use our open APIs for this, which is even easier to use than using the UI for creating fake accounts. So, using a re-Captcha does not make sense here. We need to implement something in the backend for this like blocking the IP if too many account creation re

[2021-03-12 14:40] anurag0singh commented on #79
@garg3133 please assign this to me under GSSOC'21

[2021-03-12 14:42] rohank2502 commented on #147
Yes the icon are perfect in size !!

[2021-03-12 14:45] garg3133 commented on #79
Sure @anurag0singh!

[2021-03-12 15:03] tmo66 commented on #147
Hey, @rohank2502 there is also a mistake in README(due to consistent modification). In line 99, it should be Line 30 and 31, instead of 27 and 28. Fix it too!

[2021-03-12 15:08] rohank2502 commented on #147
Yes sure I will get that too and will see if anything can be fixed and with
proper updation i will do that also

On Fri, Mar 12, 2021 at 8:34 PM Tushar Maheshwari ***@***.***>
wrote:

[2021-03-12 16:08] Naman-12911 commented on #146
Ohk.

[2021-03-13 04:15] tmo66 opened #152 "[bug]: Dropdown Navbar"
When the screen width is less than 760 px, the navbar hides, and the hamburger button appears, and on clicking on that, the navbar appears in a dropdown format.

**Issue**
The dropdown navbar is completely unsync with the full-screen Navbar.

**How to fix it?**
Remove the boundaries, change the hover option(make the background red and white text), and add some animation! Also, the hamburger button

[2021-03-13 06:27] ANAMIKA1410 commented on #58
<!DOCTYPE html>
<html>
<head>     
       <title>validate password</title>     
       <script type="text/javascript">         
              function test_str() {             
                      var res;            
                      var str =                 
                           document.getElementById("t1").value;            
                      if (str.match(/[a-z]/g) && str.ma

[2021-03-13 08:31] Saatvik21 commented on #152
Sir I would like to work on this issue.

Please assign this to me.

[2021-03-13 08:47] #146 closed

[2021-03-13 08:59] itsIapetus opened #154 "[feature]: Add welcome bot"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
I would like to add a welcome bot for new PRs, new issue, etc.
Kindly assign it to me, under gssoc, thanks!

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've co

[2021-03-13 09:29] tmo66 commented on #132
@Priyanka7011, @Kritikaagra is already working on it. You can check out other unassigned issues for now,

[2021-03-13 09:34] tmo66 commented on #152
Sure @Saatvik21 assigning you the issue!

Pro Tip: We are already working on Navbar #132, keep an eye on [PR 144](https://github.com/garg3133/JagratiWebApp/pull/144).

[2021-03-13 09:55] #154 closed

[2021-03-13 09:58] khareyash05 commented on #139
@garg3133 Have a look

[2021-03-13 11:28] Saatvik21 commented on #152
Sir regarding this issue, Is this correct when hovering over a link in dropdown menu?

![redbg](https://user-images.githubusercontent.com/61618767/111028543-487cf980-841d-11eb-8efd-0acc1d492468.png)

[2021-03-13 14:12] kagritu commented on #80
I would like to work on it as a part of GSSOC'21, so please assign that to me.

[2021-03-13 14:17] garg3133 commented on #80
Sure @kagritu, as there is no progress from @Shivam-Shandilya1 yet, you can take this issue.

[2021-03-13 15:05] kagritu commented on #80
Thank you.

On Sat, Mar 13, 2021 at 6:17 AM Priyansh Garg ***@***.***>
wrote:

[2021-03-13 17:18] sonal251001 opened #156 "[bug]: [GSSoC'21] Problem in Readme.md"
**Describe the bug**
A clear and concise description of what the bug is.
Hey @garg3133 there is a small error in the readme.md . It is written we donate education . The correction would be "we provide education" I am a GSSoC participant . I would like you to assign this issue to me.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See

[2021-03-13 20:29] somya51p commented on #76
Hey @garg3133 sir, I wish to contribute to this issue under GSSOC. Please assign it to me if it is unassigned.

[2021-03-14 06:22] tmo66 opened #160 "New Home Page!"
The current theme looks old. We are thinking about shifting it to a new theme

https://www.figma.com/proto/g83XJFmTssvU0qXBnlfIyO/Jagrati?node-id=0%3A3&scaling=scale-down-width

We will open few issues regarding the same.
In this issue, you have to create the home page till Initiatives (excluding) and should render this page at  '/new'. You should place all the images, files, everything in a separ

[2021-03-14 09:50] subhangi2731 commented on #77
can you please assign me this I would love to work on this

[2021-03-14 09:51] subhangi2731 commented on #78
can you please assign me this ??

[2021-03-14 10:08] n-coder2k opened #161 "Header logo"
Logo is not placed in correct position.It should be in left corner but currently its present in right corner of the header.

I would like to work on this issue as GSSOC participant.

**Screenshots**
![Screenshot](https://user-images.githubusercontent.com/59041032/111064642-2944a180-84db-11eb-806e-c0f4f821abf5.png)

[2021-03-14 10:12] garg3133 commented on #161
And in what sense is that inorrect? @n-coder2k

[2021-03-14 10:15] n-coder2k commented on #161
@garg3133 It should be present at left corner before the title "Jagriti".That would look better.

[2021-03-14 10:39] garg3133 commented on #77
Sure @subhangi2731, you can start working on this.

[2021-03-14 15:52] #39 closed

[2021-03-14 16:31] tmo66 commented on #161
Hey @n-coder2k, I'm glad that you choose our project to contribute, but right now we are fine with the logo position and don't wish to change it. You can look at other open issues to work upon.
Thanks

[2021-03-14 16:31] #161 closed

[2021-03-15 03:34] Naman-12911 commented on #58
I want to work on this issue please assign me under GSSOC

[2021-03-15 05:16] ashutoshkrris commented on #119
@garg3133 I've made the PR

[2021-03-15 15:33] Haneesha123 commented on #34
@garg3133 I am having a problem sending verification mail. I have put the right credentials as you mentioned in the .env file. But still, I am getting an SMTP authentication error. Can you help me out?
![image](https://user-images.githubusercontent.com/61455329/111179163-ceda3c80-85d1-11eb-8c7b-ea5eee6547ca.png)

[2021-03-15 16:01] sujoy-coder opened #165 "[feature]: Add Contact Form"
### Is your feature request related to a problem?
I would like to work on the issue . To add a contact form with in home page for getting the user feedback it should be fully functioning  👀

[2021-03-15 16:42] garg3133 commented on #34
@Haneesha123 Your `SENDER_EMAIL` is wrong. It should be `Jagrati <orionwebsite123@gmail.com>`

[2021-03-15 16:58] Haneesha123 commented on #34
Yeah got it, Thank you!

[2021-03-15 18:33] Naman-12911 commented on #165
I want develop this feature under GSSOC please assign me

[2021-03-16 02:32] amangupta37 opened #166 "Real Time Chat Assistant Integration"
Chat Assistant for solving the real-time query  for better user experience

[2021-03-16 09:56] amangupta37 commented on #166
i would like to work on this issue under gssoc 2021

[2021-03-16 19:20] aroma-sketch commented on #165
hey there, I am new to open source projects, and I would like to solve this issue as a small step, looking ahead to a response. it would be helpful .

[2021-03-16 19:21] #132 closed

[2021-03-17 03:34] tmo66 commented on #156
Hey @sonal251001, for choosing our project, and opening an important issue! Can you fix all the typos in the README.md, like

These are just a few examples, can you fix them all?

[2021-03-17 03:39] sonal251001 commented on #156
Yes I'll start working once it is assigned to me . If you are the mentor/admin please see to that. Thankyou.

[2021-03-17 03:44] tmo66 commented on #156
Okay, Assigning you!

[2021-03-17 09:50] tmo66 opened #168 "Enhance Navbar."
1. There are currently no transitions implemented on the navbar.
2. The positioning of the navbar on small screens is not absolute, so it pushes the showcase downward.
3. The navbar opened on clicking on the hamburger menu should have some transparency like before.

[2021-03-17 09:51] tmo66 commented on #168
@Saatvik21

[2021-03-17 10:11] Saatvik21 commented on #168
I would love to work on this issue.

Kindly assign me.

[2021-03-17 11:03] sujoy-coder commented on #165
Ok @vdmehta36, I am started working on it

[2021-03-17 11:09] tmo66 commented on #165
Hey @sujoy-coder, I'm glad that you choose our project. But we planned to shift to a new Home Page, so your hard work may go in vain. So I suggest you wait for some time until #160 gets merged. Then you can create a contact us section on that Home Page.

I will update you whenever it gets merged.

[2021-03-17 11:12] tmo66 commented on #165
And @Naman-12911 and @aroma-sketch as @sujoy-coder opened the issue and asked first he should get the first chance.
You can claim other unassigned issues, or can find bugs in the project!

[2021-03-17 11:39] tmo66 commented on #166
Hey @amangupta37, I'm glad that you choose our project, but if you look at the real-life implementation of our project then you will understand that our project is going to be used by our College students for the management of Jagrati, and implementing a Chatbot doesn't make much difference. I hope you understand, you can look at other unassigned issues for now.
(I'm Closing this issue)

[2021-03-17 11:39] #166 closed

[2021-03-17 12:25] sujoy-coder commented on #165
Okay @tmo66 , no problem.
I will be waiting for your update ☺

[2021-03-17 16:02] garg3133 commented on #165
Hey @Naman-12911 @aroma-sketch, you can take a look at some other issues on this repository and if you find some issue you can work on and that issue has been inactive for more than 5 days (It is assigned to someone but no PR is created for that issue), you can get that issue assigned to you :)

And if you don't find any, you can let me know the domain on which you want to work and I'll create som

[2021-03-17 16:48] #147 closed

[2021-03-17 17:54] #120 closed

[2021-03-17 18:10] vismitap commented on #114
May I work on this as a part of GSSoC'21?

[2021-03-17 19:41] aroma-sketch commented on #165
sure @garg3133, can u tell which one is inactive issue? I would like to work on this issue.

[2021-03-17 20:47] garg3133 commented on #125
Any updates @kanak22?

[2021-03-17 20:48] #119 closed

[2021-03-17 20:50] garg3133 commented on #80
Any progress @kagritu?

[2021-03-17 21:01] kagritu commented on #80
Yes, I am working on it.

On Thu, 18 Mar 2021, 02:21 Priyansh Garg, ***@***.***> wrote:

[2021-03-17 21:22] garg3133 commented on #23
@harikishantk Now I'm thinking of removing the second column in the donations modal and keeping two rows instead. The top row should have the bank details (with title and value of each field inline) and in the second column, we can have a small message like this:

OR  (in the center or as it would look good)
Donate books, clothes, stationery items or anything else which might be useful to the kids

[2021-03-17 21:23] garg3133 commented on #118
Resolved in #142.

[2021-03-17 21:29] garg3133 commented on #114
@vismitap, @nilisha-jais currently has a PR #138 open for this on which I requested some changes. If she does not respond by tomorrow, I'll assign it to you.

BTW, what happened with the issue #78 you were working on earlier? I thought you learnt testing.

[2021-03-17 21:29] #118 closed

[2021-03-17 21:30] garg3133 commented on #122
@micksharma Any progress on this?

[2021-03-17 21:32] vismitap commented on #114
Yeah sorry! I had my exams, so could not contribute. Still did not learn it completely. Got some basic idea though. Will learn from where I left and give issues related to testing a try again very soon. 😇✌

[2021-03-17 21:33] garg3133 commented on #165
@aroma-sketch You can take a part of the issue #124 as mentioned here: https://github.com/garg3133/JagratiWebApp/issues/124#issuecomment-793471639. Just quote and reply on my comment on that issue and I'll assign it to you.

This is a very straightforward issue and will surely help you in getting started with Open Source.

[2021-03-17 21:36] garg3133 commented on #137
Any progress @sakshi21-03?

[2021-03-17 23:06] ThumarHarsh commented on #81
@garg3133, now it works perfect,issue solved completely

[2021-03-18 04:04] tmo66 commented on #152
@Saatvik21 as this issue is outdated and you are working on #168. I'm closing this issue.

[2021-03-18 04:04] #152 closed

[2021-03-18 05:02] sakshi21-03 commented on #137
Yes @garg3133 , i will report you by the end of the day.

[2021-03-18 06:03] kanak22 commented on #125
I m trying 😅 actually it took me days to learn about virtual environment nd to set it up.

[2021-03-18 15:33] aroma-sketch commented on #124
i would like to work on this issue @garg3133

[2021-03-18 15:45] garg3133 commented on #124
Sure @aroma-sketch, assigning you the issue for this part of the issue.

[2021-03-18 16:36] garg3133 commented on #123
Resolved in #170.

[2021-03-18 16:36] #123 closed

[2021-03-19 09:02] #81 closed

[2021-03-19 10:42] #156 closed

[2021-03-19 12:16] #168 closed

[2021-03-19 12:26] simranbhalla3 commented on #165
Hii ,  I am a Gssoc participant and would like to work on this issue. could you Please assign this to me? @garg3133

[2021-03-19 12:28] simranbhalla3 commented on #133
Hi I am a Gssoc'21 participant and would like to work on this issue .

[2021-03-19 12:31] simranbhalla3 commented on #160
Hi I am a Gssoc'21 participant and would like to work on this issue , I have experience in css and js , please assign me this issue

[2021-03-19 14:24] ThumarHarsh commented on #80
@garg3133  can I work on this?... I have already added the same functionality in the volunteer's module..so I'm experienced in this.

[2021-03-19 21:07] garg3133 opened #174 "Show camera icon overlay on hover"
Show a camera icon overlay while hovering over the profile image on Update Profile page for students (`students/profile/update/<id>/`). The hovering effect is to give a sort of feedback to the user that they can update the profile photo by clicking over it.

See the hovering effect on the images [here](https://bandhuodisha.in/#gallery) to get an idea of what we want as a final output.

[2021-03-19 21:24] garg3133 opened #175 "Mark the status of homework of students"
Just like we take student attendance, we need to keep a record of whether the student completed his/her homework or not. For this, we can have checkboxes alongside each student name on the dashboard (just like we have on the student attendance page) showing whether the student did his/her homework or not. Along with that, the checkboxes can also be toggled to mark or unmark the homework status of

[2021-03-19 21:36] garg3133 opened #176 "Add subject taught field in CW/HW section"
Add a `select` input field in 'Update CW/HW' section on the dashboard for marking which subject was actually taught in the class. This field is already present in the models file, you just need to implement the working of this field.

**Working:**
There will be a `select` input field in 'Update CW/HW' section of the Dashboard, just above the textareas used for submitting the CW-HW. The selected va

[2021-03-19 21:48] garg3133 opened #177 "New page for Update Volunteer Profile"
Create a new page for updating volunteer profile, to make it look just like the Update Student Profile page (`/students/profile/update/1`).

[2021-03-20 09:35] garg3133 commented on #80
Sorry @kagritu, but it's been over a week since you took this issue. I'll wait for one more day (today) and if I don't see any progress, I'll assign it to someone else.

[2021-03-20 10:33] kagritu commented on #80
There was exam going on in our college, so i couldn't work on it much.
Sorry about that.

On Sat, 20 Mar 2021, 15:05 Priyansh Garg, ***@***.***> wrote:

[2021-03-20 11:58] sujoy-coder commented on #165
Hey @tmo66 ,what is the progress of your PR on issue #160 ...
Please let me know otherwise I will be late to submit the PR for this issue 🙂

[2021-03-20 12:17] garg3133 commented on #165
Sorry @sujoy-coder, I almost forgot about the PR #167 for that issue. I've posted a review comment on it and it'll possibly be mered very soon :)

[2021-03-20 12:40] sujoy-coder commented on #165
Okay @garg3133

[2021-03-20 13:00] archana-1209 commented on #176
Hi @garg3133 ,I want  to work  on this  issue.

[2021-03-20 13:01] garg3133 commented on #176
Sure @archana-1209, go ahead! Assigning you the issue.

[2021-03-20 15:51] #14 closed

[2021-03-20 16:03] #160 closed

[2021-03-20 16:04] garg3133 commented on #165
PR #167 has been merged now.

[2021-03-20 18:13] sujoy-coder commented on #165
ok

[2021-03-20 19:04] archana-1209 commented on #176
Thanks!

[2021-03-21 05:09] tmo66 commented on #165
Hey @sujoy-coder, I've left the contact us section in my PR.

This is how we are planning for the contact us part
https://www.figma.com/proto/g83XJFmTssvU0qXBnlfIyO/Jagrati?node-id=0%3A3&scaling=scale-down-width,
you are free to add your creative inputs, as long as they sync with the theme and the style of the home page.

Feel free to ping me wherever you need any help or want to discuss about the

[2021-03-21 06:24] sujoy-coder commented on #165
Yeah I have started working on it. Don't worry I will attach some screenshots how it is looking before making PR. ✌

[2021-03-21 06:41] RahulBansal0502 opened #180 "Revamp Footer"
I want to change the footer. Also when we click on the event it directed to home. Please assign this issue to me.

[2021-03-21 09:27] garg3133 commented on #114
As @nilisha-jais is not responding, @vismitap you can take this issue.

[2021-03-21 09:28] garg3133 commented on #180
@RahulBansal0502 What changes do you propose for the footer?

[2021-03-21 09:39] vismitap commented on #114
Yes, thank you!

[2021-03-21 10:00] RahulBansal0502 commented on #180
![image](https://user-images.githubusercontent.com/56486309/111900316-d5e0cf00-8a57-11eb-9bb2-28287f6f28fb.png)

We have to make a footer of this type. And also the contact us section I wants that in half section vertically there will be a map and in half section, there is a contact form or if not want to add form then instead of this we add contact details like this

![contact](https://user-image

[2021-03-21 10:22] preity-p commented on #122
Hi, can I work on this issue as a GSSoC participant?

[2021-03-21 10:23] garg3133 commented on #122
Sure @preity-p, go ahead! Assigning you the issue.

[2021-03-21 10:26] garg3133 opened #181 "Create a 404 Page"
Create a new 404 Not Found Page. The page should look professional and not too much fancy

[2021-03-21 10:36] garg3133 opened #182 "Improve registration templates"
Improve the following registration templates in the project:
- [x] Password change form page (Assigned to @malavikarajeshvikraman)
- [x] Password change done page (Assigned to @rray14)
- [x] Password reset form page (Assigned to @aishwarya0816)
- [x] Password reset done page (Assigned to @Fairspy)
- [ ] Password reset confirm page (Assigned to @sk1122)
- [x] Password reset complete page (Assigned

[2021-03-21 11:25] malavikarajeshvikraman commented on #182
Hey could you please assign it to me . I am interested to work on this issue.

[2021-03-21 11:42] preity-p commented on #122
Thank you, I'll start working on it.

[2021-03-21 11:43] garg3133 commented on #182
Sure @malavikarajeshvikraman, assigning you the first part of this issue.

[2021-03-21 12:32] Priyanshi-Sharma-142 commented on #174
@garg3133 I want to work on this issue please assign it to me

[2021-03-21 12:33] Priyanshi-Sharma-142 commented on #174
I'm a gssoc participant. I want to work on this issue. Can you please assign it to me @garg3133?

[2021-03-21 12:38] Sapna2001 commented on #181
@garg3133 can I work on  this. I am a gssoc participant.

[2021-03-21 12:41] cryptofox17 commented on #182
could I please work on the password reset form page?

[2021-03-21 12:50] garg3133 commented on #174
Sure @Priyanshi-Sharma-142, go ahead! Assigning it to you.

[2021-03-21 12:51] garg3133 commented on #181
Sure @Sapna2001, go ahead! Assigning you the issue.

[2021-03-21 12:55] garg3133 commented on #182
Sure @cryptofox17, assigning you that part of the issue.

[2021-03-21 13:12] rray14 commented on #182
Hi, I would like to work on the Password change done page, please assign me this

[2021-03-21 14:05] sujoy-coder commented on #165
Hey @tmo66 ,
##### Please check the design of the contact form.

### Here are some features which comes with this contact form
- [x] validating contact details before save in database
- [x] save the contact details in the database
- [x] any user can access this contact form (Not authenticated user as well)
- [x] write clean and formatted code

![Screenshot (108)](https://user-images.githubusercont

[2021-03-21 14:51] aishwarya0816 commented on #182
@garg3133 hello I am a gssoc participant and would like to work on one of the tasks listed above

[2021-03-21 15:06] garg3133 commented on #182
Sure @aishwarya0816, assigning you the Password reset form page part.

[2021-03-21 15:14] jaiswalrobin commented on #182
Hello I am a gssoc participant and   would like to work on one of the issues listed above.

[2021-03-21 15:34] jaiswalrobin commented on #177
Hello I am a gssoc participant. Can you assign this issue to me?

[2021-03-21 15:51] garg3133 commented on #177
Sure @jaiswalrobin, go ahead with the issue.

[2021-03-21 19:28] Fairspy commented on #182
Hello as a gssoc'21 participant I would like to work on the password reset done page.

[2021-03-21 19:47] jaiswalrobin commented on #177
@garg3133  The student profile update page looks like this :
<img width="600" alt="Student" src="https://user-images.githubusercontent.com/72142375/111918473-39481c80-8aab-11eb-9cd8-a7561a6b22ac.PNG">

and the volunteer update page looks like
<img width="600" alt="vol" src="https://user-images.githubusercontent.com/72142375/111918635-0d796680-8aac-11eb-9917-6fd61ce24ee0.PNG">

so @garg3133  can yo

[2021-03-22 03:57] tmo66 commented on #165
@sujoy-coder, you don't have to make changes to this Home Page. Go to `127.0.0.1:8000/new`  and create a new contact us section in "new home page" similar to that of Figma File.

[2021-03-22 04:54] sujoy-coder commented on #165
Oo I will change that. But the design is okay or I have to do the exact same design of Figma File ?

[2021-03-22 07:20] sujoy-coder commented on #165
Here is the modified version

Please have a look...

![Screenshot (129)](https://user-images.githubusercontent.com/65298629/111953801-1ea68f80-8b0d-11eb-9656-eae04b24a4fd.png)

[2021-03-22 08:05] sk1122 commented on #182
I would like to work on Password Reset Page

[2021-03-22 08:07] sk1122 commented on #175
I would like to implement this issue.

[2021-03-22 09:16] AJAYSHARMA2012 commented on #175
@sk1122 I am assigning this issue to you.

[2021-03-22 10:28] cryptofox17 commented on #182
@garg3133 hey I was able to set up the project with no issues. But I wanted to ask how do I access "Password reset complete page", I could go to the password reset form page but idk how to visit the compete page. Any help would be much appreciated.

[2021-03-22 10:38] aishwarya0816 commented on #182
Hey @cryptofox17
I guess you are looking for this file:
templates/registration/password_reset_complete.html

[2021-03-22 10:39] cryptofox17 commented on #182
@aishwarya0816 would I be able to open this in the local host? I tried to yesterday but it didn't work for some reason

[2021-03-22 10:41] aishwarya0816 commented on #182
Yes you should be able to access it @cryptofox17
What problem did you face when you tried?

[2021-03-22 10:45] cryptofox17 commented on #182
@aishwarya0816 it just said it couldn't find the file

[2021-03-22 10:50] aishwarya0816 commented on #182
@cryptofox17 just open the folder, open templates folder, open registration folder and you'll find the file. Open it in code editor and make changes

[2021-03-22 10:53] cryptofox17 commented on #182
Ok then I'll try that out, thanks a lot!

[2021-03-22 11:48] starrohan999 opened #187 "[feature]: In Initiative section add image related to lag line."
**Is your feature request related to a problem? Please describe.**
  In the initiative section, all the images are the same for all cards and they doest not match their tagline. I think that makes an impact on the viewer who watches this.

**Describe the solution you'd like**
Simply add an image related to the tagline.
Ex: the tagline is BOOK DISTRIBUTION so we add an image that shows us that we h

[2021-03-22 11:49] starrohan999 commented on #187
please assign it to me.
I am gssoc'21 participant

[2021-03-22 13:14] ANAMIKA1410 commented on #58
import re
password = input()
flag = 0
while True:
    if (len(password)<8):
        flag = -1
        break
    elif not re.search("[a-z]", password):
        flag = -1
        break
    elif not re.search("[A-Z]", password):
        flag = -1
        break
    elif not re.search("[0-9]", password):
        flag = -1
        break
    elif not re.search("[_@$]", password):
        flag = -1

[2021-03-22 14:19] garg3133 commented on #58
No @ANAMIKA1410, you don't need to write anything of this sort for this issue but use the Django's already existing password validators.

[2021-03-22 14:41] garg3133 commented on #182
@cryptofox17 You can find the page at http://localhost:8000/accounts/reset/done/

[2021-03-22 14:43] garg3133 commented on #177
@jaiswalrobin You just need to revamp the whole page and structure it like the Student Update Profile page.

[2021-03-22 14:46] garg3133 commented on #182
@Fairspy and @sk1122. assigned you the issue.

@jaiswalrobin Not assigning you this issue as you are already working on an another one.

[2021-03-22 14:46] garg3133 commented on #180
@tmo66 Can you comment on this?

[2021-03-22 14:53] garg3133 commented on #187
Yes @starrohan999, we are aware of this issue. A lot of people has pointed this thing out but I was unable to find time or was just lazy to search for the pictures that would go in.

Let me ask someone from the team to find some pictures appropriate for each card and will get back to you.

[2021-03-23 04:23] tmo66 commented on #165
Hey @sujoy-coder, I think it can be improved in many ways.

- You can remove the background of the Contact us Form, it would be much better that way.
- Then add some border-radius, shadow, and other CSS stuff for Text areas.
- Align the heading and the input area. Ex: Name is a little bit left of the text area of it.
- Sync Submit button with other buttons present on the homepage, it's basically a

[2021-03-23 07:43] sujoy-coder commented on #165
Now Check this one.

And let me know if any changes required...

![Screenshot (130)](https://user-images.githubusercontent.com/65298629/112110879-81fdf380-8bd9-11eb-8131-51ab8ac10c5e.png)

[2021-03-23 07:57] tmo66 commented on #165
Looking much better, isn't it? Still a few modifications

- I'm talking about the shadow in text areas, not in the whole division.
- Ahh, you did a typo in the Address.

Could you add a Screenshot of how it looks like on a smaller screen?

P.S. Hide the number! It's a personal one...

[2021-03-23 08:11] oneknucklehead opened #189 "more about us first slide issue"
**Describe the bug**
The first slide of the more about page has a photo that is blurry. It should be replaced with another photo or a blank slide which asks the user to either scroll or tap on the go down button on the right side, thus making the page more user friendly.

Can I get assigned to this issue under GSSoC '21?

[2021-03-23 08:20] oneknucklehead opened #190 "navbar color code"
**Describe the bug**
the navbar hover effect color does not go by the color code of the whole website. When hovered over the navbar, the color should change to black and not red
Can I work on this issue under GSSoC'21?

[2021-03-23 08:49] sujoy-coder commented on #165
Okay I am doing the modifications

[2021-03-23 09:10] sujoy-coder commented on #165
### Here is two kind of shadow effect. Please let me know which one should I apply

## Type -1

![Screenshot (137)](https://user-images.githubusercontent.com/65298629/112121700-86c8a480-8be5-11eb-9537-d1cbc7fc0b01.png)

## Type-2

![Screenshot (142)](https://user-images.githubusercontent.com/65298629/112121882-bd062400-8be5-11eb-821d-60c2be3e3d66.png)

[2021-03-23 09:41] tmo66 commented on #165
Going with Type - 1!
Just add border-radius, and increase the distance between form and contact details and Align `Jagrati` with contact details, and open a PR!!

@garg3133 Sir anything else required?

[2021-03-23 09:54] garg3133 commented on #189
Actually @oneknucklehead, that page is present on the official website of our institute and so, we don't have the permissions to change anything on that page. We'll try to get the permissions some later time and if we don't get that, we'll be just removing the link to that page from the site.

[2021-03-23 09:54] #189 closed

[2021-03-23 10:03] sujoy-coder commented on #165
Okay 👍

[2021-03-23 10:14] garg3133 commented on #165
I liked the third design of the contact form section more (the one with the shadow in the whole form). It just required a bit of padding around the form and some border-radius.

For the second section, there should be some margin below Jagrati and "Our social media". Also, Our Social Media can be replaced with "Connect with us on".

Also, I think the contact details would look better when center-a

[2021-03-23 10:50] sujoy-coder commented on #165
@tmo66 What do you think?

[2021-03-23 11:15] sujoy-coder commented on #165
Hey @garg3133 I am not able to understand this could you clarify :
`Also, how about swapping the positions of both sections, making the boundary of contact details section just the form section (in the form of cards) and then overlapping the two cards at the ends (right end of contact details and left end of contact form).`

Thank You...

[2021-03-23 11:48] simranbhalla3 commented on #181
Hi i am a gssoc participant , can i work on this issue?

[2021-03-23 11:48] simranbhalla3 commented on #190
Hi i am a gssoc participant , can i work on this issue?

[2021-03-23 11:50] garg3133 commented on #165
@sujoy-coder I mean something like this:
![contact-us](https://user-images.githubusercontent.com/39924567/112142018-16794d80-8bfc-11eb-99bf-612ee0819ea0.jpeg)

[2021-03-23 11:53] sujoy-coder commented on #165
Okay @garg3133 I got you

[2021-03-23 12:36] sujoy-coder commented on #165
@garg3133 is it okay ? or some modification required...
Please check it

![Screenshot (143)](https://user-images.githubusercontent.com/65298629/112147205-6e1ab780-8c02-11eb-9681-bc355f5d8b36.png)

[2021-03-23 12:51] sk1122 commented on #175
@AJAYSHARMA2012 I have created superuser and logged in local copy of this website but then I was prompted to complete a form.

But how can I directly go to dashboard?

[2021-03-23 13:16] garg3133 commented on #175
@sk1122 You need to fill that form, after which the application will send those details to the admin (in your case, it will be printed in the terminal) to verify the user. Only after successful verification (by clicking on the link attached with the mail), the user can access the dashboard. This is to ensure that only genuine users are able to access the application.

You can enter any random data

[2021-03-23 13:21] garg3133 commented on #165
I was talking about the above design of the form and not the latest one (the one with the orange border around the text inputs instead of shadows).

Also, increase the width of the cards, these look a bit elongated. And add some border-radius on both the cards (something like 5px).

Add some margin above Jagrati to bring it to the same level as Name label.

Other than that, it looks good to me.

[2021-03-23 13:24] sk1122 commented on #175
@garg3133 So, I should click that link in terminal?

[2021-03-23 13:25] garg3133 commented on #175
@sk1122 Yes. Then only the application will authenticate the user to use the application.

[2021-03-23 13:30] sk1122 commented on #175
@garg3133 thanks👍

[2021-03-23 17:09] Naman-12911 commented on #190
Hello sir  I want to solve this issue please assign me.under GSSOC.

[2021-03-24 04:24] Ayushgup85 commented on #181
is this issue still open?

[2021-03-24 05:26] prsndp commented on #190
Hey, I'm gssoc participant and also I have some experience in web dev(django+bootstrap,css) So, please can you assign me this issue?

[2021-03-24 12:24] sk1122 commented on #175
I have activated the account using the link in the terminal, filled in details, and then redirected to the login page.

But, When I tried to Log In it showed me this error
![Jagrati](https://user-images.githubusercontent.com/40713709/112309944-02038680-8cca-11eb-9e9b-bdb81bfdb378.png)

[2021-03-24 12:55] garg3133 commented on #175
@sk1122 You must have got another link in the terminal after filling your details. You need to click on that link to verify your profile.

[2021-03-24 20:40] shitesh2607 commented on #174
can I work on this issue?

[2021-03-25 04:56] subhangi2731 commented on #77
can you please help me @garg3133

[2021-03-25 05:28] Ananya9878 commented on #58
Please assign this issue to me.

[2021-03-25 05:30] garg3133 commented on #174
@Priyanshi-Sharma-142 Are you working on this?

[2021-03-25 05:32] garg3133 commented on #58
@ANAMIKA1410 Are you able to work on this?
(This issue requires good familiarity with Django)

[2021-03-25 05:36] garg3133 commented on #77
@subhangi2731 See my comments on the issue #79.

You can also see the implementation of test cases in this file as reference: https://github.com/garg3133/fossee/blob/master/roomslotbooking/home/tests/test_views.py

Otherwise, the MDN documentation for which I provided the link above is the best you can get for learning how to write tests for a Django application.

You can also watch this video to

[2021-03-25 05:51] Ananya9878 commented on #58
@garg3133 I can work on that

[2021-03-25 06:18] garg3133 commented on #80
What is the status of this now @kagritu?

[2021-03-25 06:29] garg3133 commented on #190
@oneknucklehead The theme of the website is based on the colours present in the logo of Jagrati. If you see the little dot of `i` in the logo, it is red in colour. The red colour is derived from there.

It's fine with us and we don't want to change that.

[2021-03-25 06:29] #190 closed

[2021-03-25 06:30] #131 closed

[2021-03-25 06:30] garg3133 commented on #131
Duplicate of #176.

[2021-03-25 06:31] garg3133 commented on #137
@sakshi21-03 What is the progress on this?

[2021-03-25 06:33] garg3133 commented on #58
@Ananya9878, let's wait for @ANAMIKA1410 response. If she does not respond by the evening, you can start working on this issue.

[2021-03-25 06:33] garg3133 commented on #34
@Haneesha123 What is the progress on this?

[2021-03-25 06:36] garg3133 commented on #125
Hey @kanak22, any progress on this?

[2021-03-25 06:37] garg3133 commented on #176
Hey @archana-1209, any progress on this?

[2021-03-25 06:55] Haneesha123 commented on #34
@garg3133 I am trying. Can you give me one more day?

[2021-03-25 07:01] sk1122 commented on #175
![homework](https://user-images.githubusercontent.com/40713709/112431841-08dfd700-8d66-11eb-9566-b58664f13346.png)

Should it be looking like this

[2021-03-25 07:03] garg3133 commented on #34
Yeah sure, no problem!

[2021-03-25 07:03] garg3133 commented on #175
Yep!! @sk1122.

[2021-03-25 08:34] Sanjana-03 opened #198 "[feature]: Form page for adding new event"
A new page is required for adding a new event. The page is to be implemented in the `events` app.

[2021-03-25 08:43] Sanjana-03 commented on #198
I have to startapp for this??

[2021-03-25 08:47] garg3133 commented on #198
@Sanjana-03 No, I've already created the `events` app. You need to make changes in that.

[2021-03-25 08:47] Sanjana-03 commented on #198
Okay!

[2021-03-25 09:04] garg3133 opened #199 "Show all events on a new page"
Create a new page in the `events` app to display all the events registered in the application.

You need to show all the events on that page in the form of cards containing event thumbnail, event title and truncated event description.

[2021-03-25 10:51] Ananya9878 commented on #58
@garg3133 Yes I'll start working after it gets assigned to me.

[2021-03-25 11:05] bishakhne0gi commented on #199
I want to work on this issue.

[2021-03-25 11:24] garg3133 commented on #174
As @Priyanshi-Sharma-142 is not able to work on this issue right now, @shitesh2607 I'm assigning this issue to you.

[2021-03-25 11:24] garg3133 commented on #199
Sure @bishakhne0gi, go ahead! Assigning this issue to you.

[2021-03-25 20:16] Aarti002 commented on #125
hey @garg3133 can i work on this issue?

[2021-03-26 05:10] ANAMIKA1410 commented on #58
from django import forms
from django.contrib import auth

class ValidatingPasswordChangeForm(auth.forms.PasswordChangeForm):
    MIN_LENGTH = 8

    def clean_new_password1(self):
        password1 = self.cleaned_data.get('new_password1')

        # At least MIN_LENGTH long
        if len(password1) < self.MIN_LENGTH:
            raise forms.ValidationError("The new password must be at least %d ch

[2021-03-26 05:10] ANAMIKA1410 commented on #58
@garg3133 mam please check it once.

[2021-03-26 11:11] kanak22 commented on #125
yes will show u on discord before tomorrow morning.

[2021-03-26 13:22] #114 closed

[2021-03-26 15:03] #181 closed

[2021-03-26 15:52] archana-1209 commented on #176
Yes,It is in the progress,will create the PR by tomorrow.Hope this is ok!

[2021-03-26 15:53] tmo66 commented on #180
Hey @RahulBansal0502, I think the current footer looks much better than the one you proposed and as far as colors are concerned, they are derived from the logo of Jagrati, it has yellow, black, and red in it.

By the way, I'm pretty much impressed that you observed that the event in the navbar redirects to the home page, instead of a specific page, but that work is still in progress and we are dev

[2021-03-26 15:53] #180 closed

[2021-03-26 15:59] RahulBansal0502 opened #203 "Revamp contact us page"
I want to revamp contact us page. Please assign rhis issue to me @tmo66

[2021-03-26 16:08] tmo66 commented on #203
@RahulBansal0502 What changes do you propose for the Contact us section?

[2021-03-26 16:11] RahulBansal0502 commented on #203
![111900672-e85c0800-8a59-11eb-8c93-515d3800be8c](https://user-images.githubusercontent.com/56486309/112660990-0ff90900-8e7c-11eb-9e7c-2851058d0f18.png)
Like this I want to make

[2021-03-26 16:13] Aarti002 opened #204 "[feature]: Adding event page"
This page will provide the description  of events under jagrati .

[2021-03-26 16:15] Aarti002 commented on #204
hey @garg3133 please assign this to me will soon show you my progress .
Thank you!

[2021-03-26 16:17] garg3133 commented on #204
Sure @Aarti002, go ahead!

[2021-03-26 16:46] garg3133 commented on #182
Don't use `Fixes: ` for this issue otherwise this issue will be automatically closed on merger of that PR.

[2021-03-27 06:12] tmo66 commented on #203
Hey @RahulBansal0502, I think the current contact us section looks much better than the one you proposed.
(I'm closing this issue!)

[2021-03-27 06:12] #203 closed

[2021-03-27 16:33] garg3133 commented on #58
@ANAMIKA1410 First of all, I'm not a girl :)

About your code, it seems right but we don't need to write our own password validators as Django already provides them out-of-the-box. You just need to use the `validate_password` function which you can import from `django.contrib.auth.password_validation` inside the views and use it. See: https://docs.djangoproject.com/en/3.0/topics/auth/passwords/#mo

[2021-03-28 07:09] kagritu commented on #80
I am sorry, but i am not able to solve the issue

[2021-03-28 07:51] garg3133 commented on #80
What is the problem you're facing?

[2021-03-28 08:29] kagritu commented on #80
Actually i don't know much about django, i thought i could solve it using python, i am sorry about that.

[2021-03-28 10:18] RubenFalcao14 opened #206 "Contact Us section."
There is no contact us section in the site . Which makes it difficult for people to contact you'll If they have a query and all.

[2021-03-28 10:18] RubenFalcao14 commented on #206
I'm a GSSOC'21 participant and I would love to work on it.
Thank You.

[2021-03-28 12:59] garg3133 commented on #80
Okay, no problem then @kagritu! @ThumarHarsh would you like to work on it?

[2021-03-28 13:02] garg3133 commented on #206
Hey @RubenFalcao14, thanks for opening this issue. But we already have a similar issue #165 opened for this and the work for this page is already in progress.

Hence, I'm closing this issue as a duplicate. Hope to see you contribute on other issues currently open :)

[2021-03-28 13:02] #206 closed

[2021-03-28 13:03] garg3133 commented on #177
Any progress on this, @jaiswalrobin?

[2021-03-28 13:27] jaiswalrobin commented on #177
No, I tried but I could not figure out the logic well.

[2021-03-28 13:28] garg3133 commented on #177
Alright, no problem!

[2021-03-28 13:31] ThumarHarsh commented on #80
Yes @garg3133 i would like to solve this

[2021-03-28 13:48] garg3133 commented on #80
That's great @ThumarHarsh, assigning you the issue.

[2021-03-28 18:52] Rishita0606 commented on #177
I can work on this issue.

[2021-03-29 09:26] cryptofox17 opened #207 "Improving the UI donate modal"
**Is your feature request related to a problem? Please describe.**
This is not a problem however the modal that appears on clicking donate button is very basic and could be improved in terms of the color choices and the alignment and size of the icons used. Even the font weight could be changed.

**Describe the solution you'd like**
Making the modal have a more modern UI using the mentioned change

[2021-03-30 06:48] #34 closed

[2021-03-30 08:03] garg3133 commented on #207
Hey @cryptofox17, thanks for opening this issue. While we already have a similar issue open, it has been inactive for a long time.

You can surely work on this issue, let me assign it to you.

Please do check the comments on #23 for more info related to this issue.

[2021-03-31 11:33] #175 closed

[2021-03-31 12:51] tanishq-arya opened #209 "UI : Improving font in About us section"
**Describe the bug**
1. Font size should be more.
2. Aligning it vertically would be better.
3. Adding Line spacing
4. Adding Letter spacing

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots t

[2021-03-31 12:58] tmo66 commented on #204
I think @garg3133 Sir did a mistake here, #205 is related to issue #198. (Removing the linked PR)

[2021-03-31 13:22] garg3133 commented on #204
Yeah, thanks!

[2021-03-31 16:15] niksm7 opened #210 "Toggle password field"
**Is your feature request related to a problem? Please describe.**
It is quite frustrating to not see the password you are typing during the login and this affects the user experience.

**Describe the solution you'd like**
I would like to add a show password icon/button near to the login input field so that the user can toggle anytime they want.

**Additional context**
I'm a GSSOC '21 participant

[2021-03-31 17:21] tushhr commented on #210
Sure @niksm7, go ahead. Assigning you the issue.

[2021-03-31 17:23] niksm7 commented on #210
Thank you @tushhr. Can you please also add the gssoc'21 label and the level label.

[2021-03-31 19:25] Haneesha123 commented on #124
@garg3133 I would like to work on this issue if no one is currently working.

[2021-03-31 19:43] Haneesha123 commented on #32
@garg3133 I would like to work on this issue if no one else is.

[2021-03-31 19:51] harikishantk commented on #32
Hey @Haneesha123 , I'm already working on it.

[2021-04-01 06:04] garg3133 commented on #137
@Haneesha123 Would you like to work on this one?

[2021-04-01 06:16] Haneesha123 commented on #137
Yes @garg3133. I would like to try.

[2021-04-01 06:17] garg3133 commented on #137
Assigned the issue to you.

[2021-04-01 07:31] garg3133 commented on #198
Resolved in #211.

[2021-04-01 07:31] #198 closed

[2021-04-01 16:16] coding-geek21 opened #213 "[feature]: Create a gallery page"
**Is your feature request related to a problem? Please describe.**
Create a gallery page to view photos related to this website also add some photos related to previous events

I'm a GSSoC'21 participant i would like to work on this

[2021-04-01 16:18] coding-geek21 opened #214 "[feature]: Create a payment gateway for donate us"
Creating a payment gateway where the user can donate for the website

I'm a gssoc'21 participant and i would like to work on this

[2021-04-01 16:51] tushhr opened #215 "Fixing the About us Section"
**Describe the bug**
About us section on the new home page breaks down on the small screen.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `\new`
2. Minimize the screen width.
3. Go to the about us section.
4. See the error.

**Expected behavior**
It should "behave" as the about us section of the old home page.

[2021-04-01 17:00] tushhr opened #216 "[bug]: Contact us section in the New Home page."
**Describe the bug**
Contact us section behaves absurdly when screen length is greater than 690px.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `\new`
2. Head over to the contact us section.
3. Minimize the screen width.
4. See error

**Expected behavior**
Good responsive behavior.

**Screenshots**
![image](https://user-images.githubusercontent.com/63875632/113328252-a96f6180-9339-1

[2021-04-01 18:50] garg3133 commented on #213
Hey @coding-geek21, would love to see that happen. Thanks for opening this issue. Assigning it to you.

[2021-04-01 18:51] garg3133 commented on #214
The payment gateway is already implemented in the `paytm-integration` branch. We have just not integrated it yet.

Closing this issue.

[2021-04-01 18:51] #214 closed

[2021-04-01 18:53] garg3133 commented on #209
Sure @tanishq-arya, go ahead! Let's see how that comes out.

[2021-04-02 02:43] pallavi00021 commented on #90
@garg3133  can I start working on this issue?? I'm gssoc'21 participant.

[2021-04-02 07:17] garg3133 commented on #90
Yes @pallavi00021, please go ahead! Assigning you the issue.

[2021-04-03 06:48] n-coder2k opened #217 "Adding hover effect in signin page"
I would like to add hover effect to signin button in signin page.
I am gssoc participant please assign me this issue.

[2021-04-03 06:51] fatma-sia27 opened #218 "On opening TEAM page nothing is opening"
Hey @garg3133 , When I opened TEAM section then nothing is opening it is showing the home page only , so if you like then I can make a TEAM page for your website . Please allow me to work on this .
Thank you

[2021-04-03 08:22] garg3133 commented on #218
Yeah, that'll be good @fatma-sia27. Do ahead, assigning you the issue.

Basically, we need the web team and major open source contributors on that page.

[2021-04-03 08:26] garg3133 commented on #174
@shitesh2607 Any progress on this?

[2021-04-03 08:28] garg3133 commented on #217
Thanks, @n-coder2k for opening this issue, but I don't think there's a need for this. The current login-signup page looks good as it is now.

You can work on some other similar issue if you want to, like #174.

[2021-04-03 08:28] #217 closed

[2021-04-03 13:28] fatma-sia27 commented on #218
Hey @garg3133 , I actually want to add images and names of your team in the team page . So you should provide the information so that I can make it.
Thank you

[2021-04-03 16:49] garg3133 commented on #218
@fatma-sia27 You can make the team page with some dummy photos and names for now, we'll update it ourselves later.

[2021-04-04 05:27] fatma-sia27 commented on #218
ok ok @garg3133 I will definitely do that . But can you please let me know  I should add the positions like web developers, volunteers etc. or I should make it without their positions? And I should add then you have to tell me the different positions I should make.

[2021-04-04 08:28] garg3133 commented on #218
@fatma-sia27 You can add 4 positions, "Patrons", "Volunteers", "Web Team" and "Open Source Contributors".

[2021-04-04 08:50] #210 closed

[2021-04-04 11:43] tanishq-arya commented on #216
I cannot see the new home page. Can you help me with it ?

[2021-04-04 12:31] garg3133 commented on #216
@tanishq-arya New home page is available at http://localhost:8000/new

[2021-04-04 15:28] tanishq-arya commented on #215
Please assign me this issue under gssoc.
I cannot view the new home page. Can you help me with it ?

[2021-04-04 16:31] garg3133 commented on #215
@tanishq-arya Assigned!

For new home page, you can go to http://localhost:8000/new

[2021-04-05 05:04] fatma-sia27 commented on #218
ok ok thanks

[2021-04-06 07:12] Saatvik21 commented on #216
I want to work on this issue.

PS- I tried working on it but like couldn't well fix it. Is there any way to overwrite the bootstrap columns properties cuz that's the only fix I found when trying to add flex properties to it

[2021-04-06 11:31] garg3133 commented on #216
Sure @Saatvik21, assigning you the issue.

For the small screens, you can just bring the two cards in rows instead of columns and also reduce the padding inside the card so that everything appears in a single line (like the phone number, connect with us and its icons).

You can use `!important` tag if you want to overwrite a property.

[2021-04-06 13:17] tanishq-arya commented on #215
Hey I can solve the issue. I have already made changes to the css file but I cannot seem to see them in the browser when I refresh again. Can you help me with this ?
![image](https://user-images.githubusercontent.com/77333275/113716766-8dd4d400-9708-11eb-8092-66886cccc80a.png)

[2021-04-06 13:19] garg3133 commented on #215
Try clearing your browser's cache using `Ctrl + F5` or `Shift + F5`

[2021-04-06 13:40] tanishq-arya commented on #215
![Screenshot (1098)_LI](https://user-images.githubusercontent.com/77333275/113719908-bc07e300-970b-11eb-88ae-be7b5ecc0622.jpg)
There is some issue with the container I was thinking of making a new issue for that. Should I do that ?

[2021-04-06 17:16] tanishq-arya opened #221 "[bug]: HTML Validation"
**Describe the bug**
Sometimes minor issues are missed in html, which might result in SEO issues

**To Reproduce**
Steps to reproduce the behavior:
https://validator.w3.org/nu/?doc=https%3A%2F%2Fjagrati.herokuapp.com%2F
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If a

[2021-04-06 17:23] tanishq-arya opened #222 "[feature]: Contact Us section modification"
**Is your feature request related to a problem? Please describe.**
I think the best way to display the map and contact details is side by side in the desktop view.

**Describe the solution you'd like**
I would like to change the placement of map in contact us section by making changes to the CSS.

**Describe alternatives you've considered**
A clear and concise description of any alternative soluti

[2021-04-07 09:10] Suman5501 opened #224 "[feature]: UI improvement : styling of about us section and navigation bar"
**Is your feature request related to a problem? Please describe.**
There's a need to style the about us section and navigation bar as the alignment of images and fonts need to be fixed.

**Describe the solution you'd like**
could use material ui or bootstrap for easy implementation.

**Describe alternatives you've considered**
modifying the sections by updating css styles on the components.

[2021-04-07 13:03] simranbhalla3 commented on #215
I am a Gssoc participant , please assign me this issue.

[2021-04-07 13:03] simranbhalla3 commented on #221
I am a Gssoc participant , please assign me this issue.

[2021-04-07 13:04] simranbhalla3 commented on #199
I am a Gssoc participant , please assign me this issue.

[2021-04-08 13:21] garg3133 commented on #224
Hey @Suman5501, thanks for opening this issue. I assume you must have seen the https://jagrati.herokuapp.com site, which was not updated for a long time (I just updated it). Can you check now if the navbar looks good?

For the about us section, there's already a PR #219 opened, do check that too.

[2021-04-08 13:24] garg3133 commented on #222
Can you create a mockup of what you're proposing and send it here so that we get a better idea of how the change will look like before you actually start to work on it?

[2021-04-08 13:26] garg3133 commented on #221
Sure @simranbhalla3, you can work on this. Assigning you the issue!

[2021-04-08 13:28] garg3133 commented on #199
Any progress on this @bishakhne0gi?

[2021-04-08 13:41] bishakhne0gi commented on #199
Yess, I am working on this. Actually, I am out of station and will get my stable network after 2 days.

[2021-04-08 14:22] garg3133 commented on #215
Yes, I just noticed that. Can you open a new issue for this?

[2021-04-08 18:13] tanishq-arya commented on #222
![image](https://user-images.githubusercontent.com/77333275/114076258-177cd100-98c4-11eb-89c0-1a04461ef851.png)
Something like this. I did this when I was learning SASS. This type of design looks more appealing.

[2021-04-09 10:42] #215 closed

[2021-04-09 10:47] tanishq-arya opened #229 "[bug]: Fixing Extra space for new home in mobile view"
**Describe the bug**
On mobile view the screen has whitespace to the right side and website shrinks down.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.
![Scre

[2021-04-09 10:47] tanishq-arya commented on #229
Please assign me this issue under gssoc

[2021-04-09 12:15] garg3133 commented on #229
Sure @tanishq-arya, assigning it to you.

Please also add the screenshot of the bug in the issue description.

[2021-04-09 16:55] #209 closed

[2021-04-11 07:42] tanishq-arya opened #231 "[bug]: Remove <br> tags and add margin using css"
**Describe the bug**
The <br> tags are not semantically meant to be used for separation.
We can do this using CSS by applying padding and margin to the section element.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If a

[2021-04-11 07:43] tanishq-arya commented on #231
I would like to work on this under gssoc. Please assign me this issue.

[2021-04-12 03:34] Ananya9878 commented on #58
Pls assign this issue to me.

[2021-04-12 03:36] Ananya9878 commented on #32
Pls assign this issue to me

[2021-04-12 04:51] harikishantk commented on #32
Hey @Ananya9878 , I'm already working on it. Please check other issues.

[2021-04-12 10:52] garg3133 commented on #58
Sure @Ananya9878, you can work on this now as this PR has been inactive for a long time now.

[2021-04-12 11:07] garg3133 commented on #224
Closing this issue.

[2021-04-12 11:07] #224 closed

[2021-04-12 11:10] garg3133 commented on #222
@tanishq-arya I don't feel we need to make any modifications to this section. We might need to improve the style of address, contact number and email, which is being worked on in #226, but other than that, it's mostly fine.

Closing this issue!

[2021-04-12 11:10] #222 closed

[2021-04-12 11:11] sagarpandyansit commented on #90
@garg3133, @pallavi00021 Any update on this?

[2021-04-12 11:13] garg3133 commented on #90
@sagarpandyansit I don't think there's any progress on this issue (she has not even forked the repository). So you can go ahead with the issue. Assigning it to you.

[2021-04-14 13:32] #213 closed

[2021-04-14 14:32] garg3133 commented on #137
@Haneesha123 Any updates on this?

[2021-04-14 16:16] #216 closed

[2021-04-14 16:40] tanishq-arya opened #234 "[bug]: Donate button in navbar"
**Describe the bug**
When we hover over cursor should change to a pointer.

[2021-04-14 16:40] tanishq-arya commented on #234
Please assign me this issue under gssoc.

[2021-04-14 17:53] Haneesha123 commented on #137
Sorry, I have been busy with academics. So, I couldn't start working on this yet. I will start soon.

[2021-04-14 18:12] Aarti002 commented on #204
Please give me some time i m working on it,actually i'm facing some
problems soon i will let you know.
Thank you

On Wed, Apr 14, 2021, 23:40 Jagrati-Bot ***@***.***> wrote:

[2021-04-14 18:20] garg3133 commented on #207
We'll finalize the final design in 1-2 days and will let you know.

[2021-04-14 18:26] sk1122 commented on #182
@Jagrati-Bot I will make a PR tomorrow

[2021-04-14 19:43] cryptofox17 commented on #207
@garg3133 ok then

[2021-04-15 05:20] coding-geek21 commented on #137
@garg3133 can I work on this issue?

[2021-04-15 05:21] coding-geek21 commented on #133
@garg3133  Can I work on this issue?

[2021-04-15 05:24] Haneesha123 commented on #137
@coding-geek21 I am working on this issue

[2021-04-15 05:31] Haneesha123 commented on #137
@garg3133 I don't think I will be able to work on this issue. I am un-assigning myself.

[2021-04-15 06:27] Rishita0606 commented on #177
Sorry for the delay. I should have informed earlier that I tested positive
for COVID and later was busy completing the piled college work.
I will unassign myself from this issue.
Sorry for taking your time.

Regards,
Rishita

On Wed, Apr 14, 2021, 23:40 Jagrati-Bot ***@***.***> wrote:

[2021-04-15 07:10] garg3133 commented on #177
No problem, Rishita! You can take some other issue to work on whenever you get free.

I'm unassigning you from this issue. Thank You.

[2021-04-15 07:12] garg3133 commented on #137
No worries @Haneesha123, you can take up some other issue and work on that whenever you get free.

[2021-04-15 11:16] garg3133 opened #238 "Fetch images from events app for the captures page."
For the captures page, the event names and corresponding pictures should be fetched from the `events` app's `gallery` model.

But before that, the `captures` page needs to be shifted to the `events` app, with the endpoint as `events/captures`. This can be done in a separate PR after which the work on the original issue can be resumed.

[2021-04-15 11:26] coding-geek21 commented on #238
@garg3133 I would like to work on this issue can you please assign me , Thank you !

[2021-04-15 11:38] garg3133 commented on #234
@tanishq-arya It is a very minor bug to be even considered for `level0` label. You can fix this issue in the PR you're currently working on, otherwise, we'll fix it ourselves (instead of going through the long process of issue->PR->PR review->Merge).

Closing this issue.

[2021-04-15 11:38] #234 closed

[2021-04-15 12:28] tanishq-arya commented on #234
I was about to ask

[2021-04-15 16:54] garg3133 commented on #229
Fixed in #225.

[2021-04-15 16:54] #229 closed

[2021-04-16 18:07] garg3133 opened #239 "Add a table with student schedule on student profile page"
Under a new heading of "Schedule", add a table (see tables on dashboard page for reference) with headers `Day`, `Section` and `Subject` and the data underneath (fetch from `StudentSchedule` table, for that student), sorted in order of `Day`.

This is a simple issue and can be done easily with basic knowledge of Bootstrap and Django. The design of the table can be copied from the dashboard page for

[2021-04-16 18:09] garg3133 opened #240 "Add a table with volunteer schedule on volunteer profile page"
Under a new heading of "Schedule", add a table (see tables on dashboard page for reference) with headers `Day`, `Section` and `Subject` and the data underneath (fetched from `VolunteerSchedule` table, for that volunteer), sorted in order of `Day`.

This is a simple issue and can be done easily with basic knowledge of Bootstrap and Django. The design of the table can be copied from the dashboard pa

[2021-04-17 10:40] #207 closed

[2021-04-17 13:43] coding-geek21 commented on #238
I moved the captures page to events app so should i create a PR for this seperately?

[2021-04-17 18:25] garg3133 commented on #238
Yes, it would be better if you create a separate PR for this.

[2021-04-18 02:30] fatma-sia27 commented on #218
Yes Iam working on it .

[2021-04-18 09:20] satwik-talluri commented on #240
Hello!

I am a GSSOC'21 participant.
I would love to work on this feature. I have sound knowledge of Django and Bootstrap and I am confident that I would be able to finish the task promptly.

@garg3133  can you please assign me this issue. Thank you

[2021-04-18 09:21] satwik-talluri commented on #239
Hello!

I am a GSSOC'21 participant.
I would love to work on this feature. I have sound knowledge of Django and Bootstrap and I am confident that I would be able to finish the task promptly.

@garg3133 can you please assign me this issue. Thank you

[2021-04-18 09:26] satwik-talluri commented on #177
Hello!

I am a GSSOC'21 participant.
I would love to work on this feature. I have sound knowledge of Django and I am confident that I would be able to finish the task promptly.

@garg3133  can you please assign me this issue. Thank you

[2021-04-18 09:47] kanak22 commented on #125
I m suffering from high fever from over two weeks now. Really sorry for disappointing you... It will still take time for recovery so I guess let other people work on it as I might be covid positive and my doctor has advised me to take proper rest.

[2021-04-18 09:50] garg3133 commented on #125
Ohh, sorry to hear that. Yeah, do take proper rest and get well soon!

You may work on some other issue whenever you feel fine.

[2021-04-18 09:51] kanak22 commented on #125
thanks :)

[2021-04-18 09:52] garg3133 commented on #239
Sure @satwik-talluri, go ahead! Assigning you the issue.

Currently, I'm only assigning you this issue but you can start working on other issues too once you open PR for this issue and it's waiting for review.

[2021-04-18 11:53] satwik-talluri commented on #240
Hey @garg3133

You have initially assigned me a task almost similar to this: https://github.com/garg3133/JagratiWebApp/issues/239. But I got started with this one as I was able to login as volunteer but not student to work on that issue.

I'm attaching the screenshot of the UI changes that I made. If you can verify that, I will raise a pull request. Also can you please assign me to this task as we

[2021-04-18 12:13] garg3133 commented on #133
Resolved in 8c185e4.

[2021-04-18 12:13] #133 closed

[2021-04-18 12:20] garg3133 commented on #240
@satwik-talluri You need to add the table on the profile page of the volunteer (click on the card containing the volunteer info at the top of the sidebar) and not in the sidebar.

For the student issue, you can visit http://localhost:8000/students/profile/1, it will show you the student profile where you can add the schedule info. You cannot log in as a student to this application as of now.

Sure

[2021-04-18 12:46] satwik-talluri commented on #240
Hey @garg3133

Can you verify if this is the change that's expected? If so, can I got ahead with creating the Pull request?

![Volunteer_profile](https://user-images.githubusercontent.com/56936116/115145962-1a20b880-a072-11eb-8dc6-1dd9306c238f.png)

Thanks,
Satwik Talluri

[2021-04-18 13:54] garg3133 commented on #240
@satwik-talluri Yes, this is pretty much what is expected. But it looks kinda odd. Maybe we can put the "Schedule" title over the card and just out the schedule card just below the profile card. Also, you can reduce the padding around the table as that much space looks a bit odd too.

Once you've done that and it looks fine according to you, you can go ahead and create a PR.

[2021-04-18 19:22] AJAYSHARMA2012 commented on #177
@satwik-talluri I have assigned this issue to you.

[2021-04-19 03:04] tanishq-arya commented on #221
If no one is working on this. Please assign me this issue.

[2021-04-19 07:55] garg3133 commented on #221
Sure @tanishq-arya

[2021-04-19 08:04] garg3133 commented on #23
Resolved in #208.

[2021-04-19 08:04] #23 closed

[2021-04-19 11:55] kirtilodha opened #245 "Modifying the "Donate Us" part:"
We can keep a type of feedback form, in which the donor can provide their contact details if they're interested in donating. After receiving the form, we can contact them from our side and help them in contributing to the organization. This way they just needs to provide their name and phone number and the rest process can be carried out by the organization.

[2021-04-19 12:46] kirtilodha commented on #174
I want to work on this. Please assign it to me

[2021-04-19 17:23] satwik-talluri commented on #240
@garg3133
Can you verify if this is what that's expected? If so, can I got ahead with creating the Pull request?
![Volunteer_final](https://user-images.githubusercontent.com/56936116/115277402-e02edf80-a161-11eb-860e-aec51072aa9a.png)

Thanks,
Satwik Talluri

[2021-04-19 20:56] garg3133 commented on #240
This looks kinda odd to me. I think the previous design on this page would be better at this point (without much margin/padding around the table, like in the latest picture).

Also, please don't delete your fork after opening a PR, I'm not able to test your changes on my local system.

[2021-04-20 02:28] satwik-talluri commented on #240
@garg3133  Did you mean the design where the two cards were not merged?
I deleted the fork because it was 1 commit behind.

[2021-04-20 08:31] garg3133 commented on #240
Just keep it like this only for now and open a PR, I'll have to test these changes myself.

[2021-04-20 08:33] garg3133 commented on #174
Sure @kirtilodha, go ahead! Assigning this to you.

[2021-04-20 08:35] garg3133 commented on #245
I think all this is not needed. If anyone wants to contribute, they can  directly contact the organization using the contacts provided on the "Donate Us" modal and they'll help them with the contribution.

[2021-04-20 08:47] #245 closed

[2021-04-20 12:28] akshay399 commented on #199
@garg3133 can i work on this issue?

[2021-04-20 12:55] garg3133 commented on #199
@akshay399 This issue was opened for @bishakhne0gi because he is completely new to Django. Otherwise, this is not a `Level2` issue.

Can you develop the complete `Events` page for a `Level3` issue? You need to show all the events on that page in the form of cards containing event thumbnail, event title and truncated event description.

[2021-04-20 13:14] akshay399 commented on #199
yep i can do that, are you going to make a new issue for this? @garg3133

[2021-04-20 13:16] garg3133 commented on #199
Let me update this issue only.

[2021-04-21 14:15] SnehaVeerakumar commented on #80
I would like to contribute to this issue. If assigned, 2 to 5 days is needed for me to complete it. @garg3133

[2021-04-21 14:17] garg3133 commented on #80
Sure @SnehaVeerakumar, go ahead with the issue. Assigning it to you.

[2021-04-22 06:17] harikishantk commented on #32
Yes I'm working on it. I gave front end update on it.

[2021-04-22 13:58] Ananya9878 commented on #58
I'm working on it ......will update it soon

[2021-04-22 17:01] Mukta-Sawant commented on #125
@garg3133 I would like to work on this issue as a part of GSSOC'21. Please assign it to me.

[2021-04-22 17:17] akshay399 commented on #199
hi @garg3133 i made a [PR](https://github.com/garg3133/JagratiWebApp/pull/252) please review it, thank you

[2021-04-22 18:46] garg3133 commented on #90
@sagarpandyansit Use `Fixes: #90` in your PR description, so that the bot can track the PR for this issue.

[2021-04-22 18:50] garg3133 commented on #199
I am currently super busy with my college project and assignment submissions followed by my end-sem exams, so I might not be available for a few days. Sorry for the delay.

[2021-04-23 02:24] fatma-sia27 commented on #218
Hey @garg3133 , meanwhile can you tell me the steps to make PR as I am a beginner.

[2021-04-23 07:44] akshay399 commented on #176
hi @garg3133 is anyone working on this issue? or can i try solving it

[2021-04-23 07:49] garg3133 commented on #176
@akshay399 No, you can take up this issue. Assigning it to you.

[2021-04-23 07:53] garg3133 commented on #218
@fatma-sia27 You can checkout this repository: https://github.com/Bitbyte-TPC/first-bit. It contains details explanation of every step on how to use clone a project, create branch, make changes and then push your code and create a pull request.

Always remember to  create a new branch before committing and pushing the code to your GitHub account.

[2021-04-23 07:57] fatma-sia27 commented on #218
Ook thanks

[2021-04-23 16:38] sagarpandyansit commented on #90
Okay. No problem. In the meantime, I will try to complete the rest of the work. best of luck for your exams and projects.

[2021-04-24 03:42] Ankita297 opened #253 "[feature]: Auto merge PR from dependabot"
**Is your feature request related to a problem? Please describe.**
github action to Auto merge PR from dependabot

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other context or sc

[2021-04-25 04:55] fatma-sia27 commented on #218
Hey @garg3133 , I had completed my work. Can you please tell me that in which folder should I add my team page?
![WhatsApp Image 2021-04-25 at 10 21 51 AM](https://user-images.githubusercontent.com/77666526/115981330-88083b00-a5b0-11eb-9968-d57e7dc9af6d.jpeg)

[2021-04-25 11:02] garg3133 commented on #218
@fatma-sia27 Put it inside the home directory.

[2021-04-25 12:17] shonali2600 opened #255 "Improving UI of Header"
UI of Header is not looking good, I would like to style it, Please assign this issue to me as a GSSOC participant.

[2021-04-25 13:37] coding-geek21 commented on #137
Yes i'm working on this issue , since i was having exams i was not able to complete, i will complete as soon as possible

[2021-04-25 13:43] fatma-sia27 commented on #218
Ook

[2021-04-25 14:44] fatma-sia27 commented on #218
Hey @garg3133 , I had created PR#256. Please review it and let me know if any changes required.
Thank you

[2021-04-26 04:29] subhangi2731 commented on #78
please assign me this

[2021-04-26 04:31] subhangi2731 commented on #77
my health was not good since many days so I was not able to be active here. please assign me I will make a pr by today or tomorrow

[2021-04-26 04:33] subhangi2731 commented on #76
please assign me this too. Due to my health problems I have got very behind. I need to cover up

[2021-04-26 04:34] subhangi2731 commented on #28
please assign me this too

[2021-04-26 04:42] subhangi2731 commented on #124
please assign me this too

[2021-04-26 18:47] garg3133 commented on #77
Okay @subhangi2731, assigning it to you.

[2021-04-28 10:59] fatma-sia27 commented on #218
@garg3133 please review my PR#256

[2021-04-28 12:14] satwik-talluri commented on #239
@Jagrati-Bot Sorry for the delay due to End Sem exams and assignments.
I will finish it before this weekend.

Thank You,
Satwik Talluri

[2021-04-29 12:04] gayatri517 opened #257 "Adding links for emails present in the homepage"
I want to add the links to the email ids present in the "home page" and the "donate" section so that the user is more comfortable in contacting. I would also like to add a small icon of a phone in the "donate" section, beside the numbers specified.
Please assign me this issue. @garg3133

[2021-04-30 05:10] tanishq-arya commented on #221
Yes I am working on the issue and will make a PR soon.

[2021-04-30 13:43] coding-geek21 commented on #204
can i work on this issue? @garg3133

[2021-04-30 14:39] kirtilodha commented on #174
I've already solved the issue. Waiting for it to get reviewed.

[2021-05-01 06:57] tanishq-arya commented on #231
I am working on this waiting for review on the PR.

[2021-05-02 18:11] harshakhmk commented on #79
Is the issue still alive to add code, I am interested in adding the unit-tests

[2021-05-03 02:27] anurag0singh commented on #79
Yes, you can work on it.
@garg3133  I am sorry but I cannot do this work. Please assign @harshakhmk on this one.

[2021-05-03 19:15] AJAYSHARMA2012 commented on #79
@harshakhmk I am assigning you this issue

[2021-05-03 19:17] AJAYSHARMA2012 commented on #76
@subhangi2731 I am assigning you this issue

[2021-05-04 11:19] harshakhmk commented on #79
Do I need to add test views in all apps

[2021-05-04 14:31] Ananya9878 commented on #58
@garg3133 Can you please review it once

[2021-05-05 13:14] Kavs-123 commented on #177
Hey @AJAYSHARMA2012
Can I work on this issue?

[2021-05-06 04:19] tushhr commented on #177
Sure @Kavs-123, assigning it to you.

[2021-05-06 10:02] Kavs-123 commented on #177
Thank you

[2021-05-07 05:15] Anmolreshi opened #260 "[bug]: Events Tab & Events Tab & Team Tab in Header is not working | not going to desired menu"
I would like to re Design Header of page

[2021-05-07 06:21] subhangi2731 commented on #77
@Jagrati-Bot I am working on this issue and will send a pr by tomorrow

[2021-05-07 06:22] subhangi2731 commented on #76
I will send a pr by tomorrow @AJAYSHARMA2012

[2021-05-08 13:27] fatma-sia27 commented on #218
I had created PR#256 pls review it

[2021-05-10 07:42] ShrutiKhatri826 commented on #125
I would like to contribute to this issue as a GSSOC'21 participant. Please assign it to me, hoping for a positive reply soon.

[2021-05-10 10:31] tanishq-arya commented on #221
@Jagrati-Bot I am working on this.

[2021-05-14 15:39] harshakhmk commented on #80
Is the issue still needs to be addressed, if yes I can work on it to get my first open-source contribution

[2021-05-14 16:14] harshakhmk commented on #79
I am working on it @Jagrati-Bot

[2021-05-14 16:22] garg3133 commented on #79
No, you just need to add the tests in the `students` app for this issue.

[2021-05-14 16:24] garg3133 commented on #80
@Subhangini Are you still interested to work on this issue?

@harshakhmk If Subhangini doesn't reply, I'll assign this issue to you.

[2021-05-14 17:12] Subhangini commented on #80
Yes I would like to work once you assign me

[2021-05-14 18:05] harshakhmk commented on #79
I have created the PR  [262](https://github.com/garg3133/JagratiWebApp/pull/262) please review it @garg3133

[2021-05-14 18:10] harshakhmk commented on #79
@Jagrati-Bot  review pending

[2021-05-15 08:07] harshakhmk commented on #78
Can I work on this issue

[2021-05-15 08:59] subhangi2731 commented on #77
@garg3133 I need ur help in this issue I am stuck

[2021-05-15 14:03] harshakhmk opened #263 "[feature]: Form for creating/updating of a student"
- We can have a form for adding new student details and updating existing student details in ```apps/students``` folder

- I would like to implement the request payload through Django forms instead of hard-coding them.
- Through forms, we can have better error handling

I would like to work on this @garg3133

[2021-05-15 15:47] #240 closed

[2021-05-15 19:17] garg3133 commented on #77
Sure @subhangi2731, where are you stuck at?

[2021-05-15 19:18] garg3133 commented on #125
Sure @ShrutiKhatri826, you can take up this issue. Sorry for the delay. Assigning the issue to you.

[2021-05-16 04:42] kumarishalini6 opened #264 "Forget password improvement"
**Is your feature request related to a problem? Please describe.**
I want to add border and shadow to give that page beautiful
![Jagrati _ Password Reset - Personal - Microsoft​ Edge 5_16_2021 10_11_15 AM](https://user-images.githubusercontent.com/69043944/118385726-08252d80-b5be-11eb-877c-236721fbb7ab.png)

[2021-05-16 04:46] kumarishalini6 opened #265 "Navbar in Log In and Sign Up page"
**Is your feature request related to a problem? Please describe.**
There is no navbar on login and signup page , i want to add navbar in that pages as in forget password page. can i work on this issue under GSSoC'21.
![Jagrati _ Login - Personal - Microsoft​ Edge 5_16_2021 10_14_09 AM](https://user-images.githubusercontent.com/69043944/118385799-a87b5200-b5be-11eb-9257-8e2d40a36b7e.png)

[2021-05-16 04:47] kumarishalini6 commented on #264
please assign this issue to me.

[2021-05-16 13:26] subhangi2731 commented on #76
@AJAYSHARMA2012 @garg3133 I am writing tests for login_signup view

But the below is giving me an error django.urls.exceptions.NoReverseMatch: Reverse for 'accounts' not found. 'accounts' is not a valid view function or pattern name.
 def test_view_url_accessible_by_name(self):
        response = self.client.get(reverse('accounts'))
        self.assertEqual(response.status_code, 200

[2021-05-16 13:27] subhangi2731 commented on #76
but I am getting an error please help me in this

[2021-05-16 13:57] garg3133 commented on #76
@subhangi2731 `accounts` represents the app name, not a URL. To get the reverse for `login_signup` view, you should write `accounts:login_signup` instead.

[2021-05-16 15:08] Kavs-123 commented on #177
I am working on this issue

[2021-05-16 15:48] garg3133 commented on #264
Sure @kumarishalini6, you can try this out, and if it looks good, I'll surely merge the PR.

[2021-05-16 16:11] kumarishalini6 commented on #264
Please add level on this issue

[2021-05-16 16:20] garg3133 commented on #264
I'll add the label once your PR is merged, don't worry about that.

[2021-05-16 16:22] kumarishalini6 commented on #264
Ok

[2021-05-16 17:26] subhangi2731 commented on #76
@garg3133 AttributeError: Manager isn't available; 'auth.User' has been swapped for 'accounts.User'
I am getting this error
And, If I replace auth.models with defined User in the app, I get the error AssertionError: 'AnonymousUser' != 'testuser1'
When I pass login = self.client.login(email='abc@gmail.com')

[2021-05-16 17:35] garg3133 commented on #76
@subhangi2731 Getting AnonymousUser means that the user is not logged in. You need to provide the password too while logging in.

[2021-05-18 08:50] Subhangini commented on #80
Due to some reasons, I started late sorry for that, but I cannot find these files where I have to make the changes, I got the Student folder but not the other ones and I also tried the app but was unable to do so. Is the app working? Because after login I was, again and again, asked to log in? Is there any issue?

[2021-05-18 13:35] subhangi2731 commented on #76
@garg3133 test_user1 = User.objects.create_user(username='testuser1', password='1X<ISRUkw+tuK')
TypeError: create_user() got an unexpected keyword argument 'username' why is this coming ?? please tell

[2021-05-18 16:48] garg3133 commented on #76
@subhangi2731 Try using `email` instead of `username` (as there is no `username` field in the custom user model, `email` field is used as username).

[2021-05-18 17:02] garg3133 commented on #80
@Subhangini You need to make the changes on the Student Attendance page and dashboard (where students' name will appear after you take the attendance).

You can take a look at PR #134, which resolves a similar issue, for reference.

I don't think there's any issue with the login functionality of the app (it's working fine for me). Can you share some screenshots of the problem you're facing?

[2021-05-18 17:53] subhangi2731 commented on #76
@garg3133 def test_redirect_if_logged_in_and_profile_complete(self):
        #  Login the User 1 (having complete profile)
        login = self.client.login(email='testuser1@gmail.com')
        response = self.client.get(reverse('accounts:login_signup'))

        # Check it redirects correctly to dashboard
        self.assertEqual(response.status_code, 200)
        self.assertRedirects(response, r

[2021-05-18 17:56] garg3133 commented on #76
@subhangi2731 You need to enter the password as well in `self.client.login()` to login the client.

[2021-05-18 18:54] garg3133 commented on #218
Linked your PR to this issue.

[2021-05-19 13:29] AkhileshThite opened #268 "[bug]: Misplaced Hover Effect"
I would like to fix this one.

![Screenshot 2021-05-19 at 6 56 34 PM](https://user-images.githubusercontent.com/68826419/118820851-45e2c880-b8d4-11eb-8e2e-eb07595bf3c4.png)

[2021-05-19 16:00] Subhangini commented on #80
![image](https://user-images.githubusercontent.com/68437435/118845491-72550f80-b8e9-11eb-9655-e6e0fae8ebe3.png)

[2021-05-19 16:06] Subhangini commented on #80
![image](https://user-images.githubusercontent.com/68437435/118846243-28205e00-b8ea-11eb-8548-31968fd3f11c.png)

this is the issue I am facing

[2021-05-19 18:14] AJAYSHARMA2012 commented on #265
@kumarishalini6, I am not sure if @garg3133 really wants to implement this feature. So, I can't let u work on it unless he approves. Till then, u can work on any other issue if u want.

[2021-05-20 00:36] kumarishalini6 opened #269 "[feature]: Preloader"
**Is your feature request related to a problem? Please describe.**
I have seen there is no Preloader in this project i want to work on this issue user GSSoC;21.

[2021-05-20 00:39] kumarishalini6 opened #270 "[feature]: Scroll top button on capture page"
**Is your feature request related to a problem? Please describe.**
I want to add scroll button in capture page . Can I work on this issue under GSSoC'21 participant.

[2021-05-20 08:55] SmritiAgrawal04 commented on #28
Is this issue closed or open yet. If open, can I work on the same?

[2021-05-20 08:57] SmritiAgrawal04 commented on #204
Is this issue being worked upon? If not, allow me to.

[2021-05-20 08:59] SmritiAgrawal04 commented on #122
May I work on this issue please. Thanks.

[2021-05-20 13:49] tanishq-arya commented on #221
@Jagrati-Bot I am working on this issue. Waiting for a review on my PR.

[2021-05-20 13:53] garg3133 commented on #80
Ohh for this you need to authenticate the newly created user using the link that must have been printed on your terminal (like you must have done for verifying your email the first time you created the account.

Alternatively, you can go to the admin portal (localhost:8000/admin) and login their with your superuser credentials. Then go to User -> select the user and tick the `Auth` field at the bo

[2021-05-20 13:56] garg3133 commented on #122
Yeah sure @SmritiAgrawal04, go ahead! There is already some work done on this in #188, so you can continue after that.

[2021-05-20 13:57] garg3133 commented on #204
Yes @coding-geek21, this issue is available to be taken. Would you like to work on this?

[2021-05-20 15:17] coding-geek21 commented on #204
Yes @garg3133  I would like to work on this

[2021-05-20 15:31] #58 closed

[2021-05-20 16:42] srishtij2000 commented on #231
Can I work on this issue?

[2021-05-20 16:52] #239 closed

[2021-05-20 17:02] tanishq-arya commented on #231
@srishtij2000 I have already solved the issue and raised a PR for the same. Waiting for the review.

[2021-05-20 18:30] garg3133 commented on #268
@AkhileshThite I can't reproduce this issue, but if it is happening with you then sure, go ahead and fix this issue. Assigning it to you.

[2021-05-20 18:31] garg3133 commented on #270
@kumarishalini6 There is currently no event page. Which page are you referring to?

[2021-05-20 18:41] AkhileshThite commented on #268
Okay, thanks.

[2021-05-20 18:58] Subhangini commented on #80
I will try this

[2021-05-21 00:54] kumarishalini6 commented on #270
sorry it should be capture pages.

[2021-05-21 09:30] #221 closed

[2021-05-21 10:37] #182 closed

[2021-05-21 10:55] garg3133 commented on #270
Ohk sure, you can work on that. Assigning it to you.

[2021-05-21 10:59] garg3133 commented on #269
I don't feel the need for a preloader in this project. It kind of feels frustrating to me having to keep watching the preloader before the page loads completely (without the preloader, at least we can read the text until the images are loaded completely).

[2021-05-21 10:59] #269 closed

[2021-05-21 11:02] garg3133 commented on #263
Yes, I agree with you that using django forms would be better. Surely you can work on this. Assigning it to you.

[2021-05-21 11:03] garg3133 commented on #260
Yes @Anmolreshi, we are aware of this issue and both the pages are currently under development.

[2021-05-21 11:03] #260 closed

[2021-05-21 11:04] garg3133 commented on #257
Hey @gayatri517, sorry for the delay. Are you still interested in working on this issue?

[2021-05-21 11:06] garg3133 commented on #255
Hey @shonali2600, really sorry for the delay.

Can you share some mockup on how you propose to improve the UI of the header?

[2021-05-21 11:09] garg3133 commented on #253
@Ankita297 I don't think auto-merging the PRs from dependabot is a good idea, as the new releases of the libraries may not be backward compatible. So, I always prefer to read the changelog and make any changes required in the code before merging the PR.

[2021-05-21 11:09] #253 closed

[2021-05-21 11:14] garg3133 commented on #204
Great @coding-geek21, assigning it to you.

Here are a few pages you can refer to while designing the page:
* https://sac.iiitdmj.ac.in/events/event/3/
* https://bandhuodisha.in/ankurayan/detail/2020/

or you may suggest some designs of your own. You can take a look at the models file of the `events` app for an idea of what all data we want to show on that page.

[2021-05-21 11:30] gayatri517 commented on #257
@garg3133 Yes

[2021-05-21 17:15] tanishq-arya opened #272 "[feature]: UI : Contact Section on new home page"
**Is your feature request related to a problem? Please describe.**
The 2 forms are glued together that doesn't look very appealing for the UI aspect of the website.
I am thinking of adding some margins and in mobile view stacking them one on top.

[2021-05-21 17:15] tanishq-arya commented on #272
@garg3133 Please assign me this issue.

[2021-05-22 13:50] garg3133 commented on #257
Great, assigning it to you.

[2021-05-22 15:40] #174 closed

[2021-05-23 07:30] harshakhmk commented on #263
Shall I also change HTML forms with Django forms when a GET request is made

[2021-05-23 08:57] subhangi2731 commented on #76
@garg3133 please help me in this I have already invested many days in this issue I face this error
def test_view_login_with_correct_data(self):
        response = self.client.post(reverse('accounts:login_signup'), {
            'email' : 'testuser1@gmail.com',
            'password' : '1X<ISRUkw+tuK',
            'submit' : 'login'
        })
        # print(response)
        # Check it redirects

[2021-05-23 09:06] satwik-talluri commented on #176
Hello!

I am a GSSOC'21 participant.
I would love to work on this feature. I have sound knowledge of Django and Databases and I am confident that I would be able to finish the task promptly.

@garg3133  can you please assign me this issue. Thank you

[2021-05-23 09:45] #238 closed

[2021-05-23 09:49] garg3133 commented on #176
Sure @satwik-talluri, @akshay399 seems to be busy so you can work on this issue. Assigning it to you.

[2021-05-23 09:51] satwik-talluri commented on #176
Thanks for assigning me @garg3133

I have a small doubt. Can you please point me to the URL that corresponds to the 'Update CW/HW' section in the dashboard?

[2021-05-23 10:19] garg3133 commented on #176
Just go to dashboard, select any date and section, you'll find a "Update CW/HW" button there.

[2021-05-23 10:34] garg3133 commented on #76
@subhangi2731 Have you created the user before logging in? If yes, is the `active` field of User set to true (without this, the user won't be able to log in)? If you've not done any of this, then the status code will be 200 only and not 302 as the user will be served the same template with corresponding errors.

As you can see from the `login_signup` implementation, it first checks if the `active`

[2021-05-23 11:58] garg3133 commented on #263
@harshakhmk Yes, you can, but just make sure that it does not affect the page structure and design.

[2021-05-23 12:04] harshakhmk commented on #263
I handled POST data using forms, shall I be raising separate MR for updating HTML code with Django forms or should I be rasing in the same MR with a different commit

[2021-05-23 12:10] garg3133 commented on #263
You can do that in the same PR.

[2021-05-23 12:47] subhangi2731 commented on #76
@garg3133 Yes, I have created the complete user profile with everything correct, but am still getting the error:

in test_view_login_with_correct_data
    self.assertEqual(response.status_code, 302)
AssertionError: 200 != 302

def setUpTestData(cls):
        # Create a user
        test_user1 = User.objects.create_user(email='testuser1@gmail.com', password='1X<ISRUkw+tuK')

        test_user1.save

[2021-05-23 12:47] subhangi2731 commented on #76
@garg3133 please check this

[2021-05-23 12:53] garg3133 commented on #76
@subhangi2731 You have set `is_active=True` and you've also created a profile for the user, but you've set `auth=True`. If you look at the code, in this case, the same template will be served by the server with an error saying that the user is not yet authenticated by the admin (and hence the 200 status code).

[2021-05-25 16:38] Subhangini commented on #80
Sorry Due to some reasons I am unable to solve this. Thank you @garg3133  for clearing my doubts.

[2021-05-25 16:57] harshakhmk commented on #80
Can I work on this, I can contribute @priyansh3133

[2021-05-25 16:58] garg3133 commented on #80
Yeah sure, @harshakhmk, go ahead!

[2021-05-25 16:59] harshakhmk commented on #79
I am sorry, I was not able to work @priyansh3133  you guided me well with the workflow, but it failed on my local system and I was not clear with flow of user signup process, unassign me this issue

[2021-05-25 17:33] harshakhmk commented on #80
Placing the profile URL in the HTML files would solve right?

[2021-05-25 19:14] garg3133 commented on #80
Yes

[2021-05-26 04:44] harshakhmk commented on #263
@garg3133  I have raised the PR [274](https://github.com/garg3133/JagratiWebApp/pull/274)

[2021-05-27 06:34] ShrutiKhatri826 commented on #125
I'm still working, I'll post the results soon!

[2021-05-27 06:35] ShrutiKhatri826 commented on #125
Hi! I am still working on it, will get back to you soon.

On Wed, May 26, 2021 at 6:34 AM Jagrati-Bot ***@***.***>
wrote:

[2021-05-28 11:37] #199 closed

[2021-05-28 14:41] akshay399 commented on #79
@garg3133  is this issue open? if so pls assign me, i have never worked with unit tests i want to give it a try

[2021-05-28 16:05] engineerscodes opened #280 "[bug]: form fields validation must be also done in backend"
The issue is very simple
**you must validate form data in the backend just not in the front-end**
eg-Reg form
**I could edit the HTML form eg-email filed, I changed it to text and removed the pattern search HTML attribute
check the image below**
![Screenshot (120)](https://user-images.githubusercontent.com/68312849/120011844-5b56a180-bffc-11eb-86d1-b9d758eaf058.png)

![Screenshot (121)](https://us

[2021-05-28 16:14] engineerscodes commented on #280
look at this line -https://github.com/garg3133/JagratiWebApp/blob/92b70b4d11976dfe6364db12bc0454843b2168cc/accounts/views.py#L83

[2021-05-29 13:03] garg3133 commented on #76
Resolved in #275.

[2021-05-29 13:03] #76 closed

[2021-05-29 13:22] sparshsharma2510 opened #281 "[bug]: Making transitions in Our Initiatives section smoother and equal timed"
**Describe the bug**
A clear and concise description of what the bug is.
I want to smoothen the transition while hovering over the cards in the Our Initiatives section to make them well-timed so that the header and the info card appear simultaneously.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'the landing page'
2. Click on '....'
3. Scroll down to 'Our Initiatives section'
4. See

[2021-05-29 13:26] garg3133 commented on #280
Thanks, @engineerscodes for raising this issue. We should definitely validate the form in the backend. But I think a better place to validate the forms is `forms.py` and not views. Views should only contain the main backend logic.

We are trying to port our forms to Django forms, starting from issue #263, as backend would definitely provide a better form validation.

[2021-05-29 13:29] garg3133 commented on #281
Sure @sparshsharma2510, go ahead! Assigning you the issue.

[2021-05-29 14:15] engineerscodes commented on #280
Yes, your right I did see the form.py file, you could do def clean and raise an error if it's not a valid  email

[2021-05-30 15:00] #264 closed

[2021-05-30 15:04] #139 closed

[2021-05-30 19:43] #176 closed

[2021-05-31 16:33] garg3133 opened #285 "Update Profile picture on Student Profile not working"
Along with this, the View Profile picture is also not working. The popover maybe is not responding to clicks or maybe it is getting closed on click before doing anything.

[2021-06-01 11:23] #257 closed

[2021-06-01 11:37] #281 closed

[2021-06-01 13:54] #270 closed

[2021-06-02 05:42] SmritiAgrawal04 commented on #122
Yeah, I'm working.

[2021-06-02 10:28] harshakhmk commented on #285
I would like to work on this

[2021-06-02 10:30] harshakhmk commented on #280
@garg3133  he is mentioning this issue while creating a new user account, I guess so we need a form there too
I would like to work on this

[2021-06-02 19:56] engineerscodes commented on #280
There is already form.py https://github.com/garg3133/JagratiWebApp/blob/f28e7b87900df144a1a9a522ac23fc856137ac25/accounts/forms.py#L6
https://github.com/garg3133/JagratiWebApp/blob/f28e7b87900df144a1a9a522ac23fc856137ac25/accounts/forms.py#L7

[2021-06-03 19:58] garg3133 commented on #285
Sure @harshakhmk, go ahead!

[2021-06-03 20:13] garg3133 commented on #280
Yeah, I guess I created this form to escape Django's password validation while creating a new user through Admin Portal (you can see this form is only used in `accounts/admin.py`).

I think we can just create a new form here, and use Django's password validation out-of-the-box and check the email against the Regex pattern in `clean_email` method.

[2021-06-04 04:33] harshakhmk commented on #280
I would like to work on this

[2021-06-04 13:41] harshakhmk commented on #285
Can someone guide me on this, I tried various ways by changing HTML but I can't figure out why the button is not working

[2021-06-04 15:07] garg3133 commented on #285
@harshakhmk Take a look at this: https://stackoverflow.com/a/49500961/9890886

[2021-06-04 16:39] #263 closed

[2021-06-04 20:11] garg3133 commented on #80
Resolved in #278.

[2021-06-04 20:11] #80 closed

[2021-06-05 10:13] coding-geek21 commented on #204
@garg3133 Can i work on this as a part of LGM-SOC'21

[2021-06-06 16:58] harshakhmk commented on #285
Tried the same, but not working, I will raise a WIP MR so that you can check what am I missing

[2021-10-17 18:13] garg3133 commented on #90
Second part resolved in commits starting with 56c2381.

[2021-10-17 18:13] #90 closed

[2022-04-08 10:26] ChiragSharma1 commented on #177
Hey
Can I work on this?

[2022-04-16 10:16] ChiragSharma1 commented on #177
![image](https://user-images.githubusercontent.com/63919014/163671109-54b35d76-1cb9-4506-9a58-63f6d0c1d631.png)
 is this what you want on the update page?

[2022-04-16 10:18] ChiragSharma1 commented on #177
![image](https://user-images.githubusercontent.com/63919014/163671196-87955944-8335-4436-b8b6-c3cc263649c7.png)
is this correct ??

[2022-05-27 05:49] Rahul19241 opened #303 "Adding Students page"
To show all the students who have joined jagrati with their short info in a single page . And if we select any one of the student then we will get his complete info .

[2022-05-27 07:06] divyanshkhetan commented on #303
Hey @Rahul19241, thanks for raising the issue. The student's page is currently under development and will be available soon on the website.

[2022-06-06 19:50] divyanshkhetan opened #306 "Code Improvement: Replace all the #ff8c00 colors with a variable"
### Replace all the #ff8c00 colors with a variable
Replace all instances of #ff8c00 with a CSS variable named `jagratiColor` or something similar so as to improve the maintainability of the code base.

[2022-10-06 07:58] divyanshkhetan opened #307 "[feature]: All Option on Student Attendance Page"
**Is your feature request related to a problem? Please describe.**
Too much time is wasted in selected different classes while taking attendance because the seatings are sometimes seen to be unorganised.

**Describe the solution you'd like**
All students appearing together on the attendance page might be much more comfortable.

[2022-10-08 09:20] #307 closed